@import "mixins.scss";
@import "variables.scss";

/*
Template Name: TRIME. - Creative Comin Soon OnePage HTML Template
Author: GuroThemes
Author URI: https://themeforest.net/user/gurothemes
Version: 1.0
*/

/*
TABLE OF CONTENTS:

1.WRAPPER
2.CONTACT FORM

*/

/* --------------------------------
WRAPPER     
-------------------------------- */
.contacts {
    height: 100vh;
    padding: 0 10% 0 5%;

    &:after {
        background: rgba($black, .5);
        height: 100vh;
        width: 100vw;
        left: 0;
        top: 0;
        right: 0;
        content: "";
        position: absolute;
        z-index: -2;
    }
}

/* --------------------------------
CONTACT FORM
-------------------------------- */
.contact-form {
    opacity: 0;
    padding:0;
    margin: 40px 0 0 0;
    text-align: left;

    .field {
        margin: 30px 0;

        label {
            display: block;
            font: $labelFont;
            line-height: 13px;
            text-transform: uppercase;
            color: $white;
        }

        input {
            font: $inputFont;
            line-height: 15px;
            padding: 10px;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid $white;
            background: none;
            width: 100%;
            color: $white;
            opacity: 0.4;
            @include transition(.3s);
            
            &:focus {
                opacity: 1;
                outline: none;
            }
        }
        
        textarea {
            @extend input;
        }
    }

    .help-block {
        display: block;
        margin-top: 1px;
        margin-bottom: 10px;
        color: $error;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    }

    #msgSubmit,
    .help-block {
        position: absolute;
        font: $errorText;
        text-transform: uppercase;
        opacity: .8;
    }

    .text-danger {
        color: $error;
    }
}