@import "mixins.scss";
@import "variables.scss";
/*
Template Name: TRIME. - Creative Comin Soon OnePage HTML Template
Author: GuroThemes
Author URI: https://themeforest.net/user/gurothemes
Version: 1.0
*/

/*
TABLE OF CONTENTS:

1.PRELOADER
2.WRAPPERS
3.NAVIGATION
4.TEXT SECTION (TITLE, DESRIPTION FOR SECTION)
5.SOCIAL SECTION
6.BUTTONS

*/

/* --------------------------------
PRELOADER
-------------------------------- */
.preloader {
	position: absolute;
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 100;
	background: $black;
	top: 0;
	left: 0;
	z-index: 9999;
	overflow: hidden;
	@include transition(1s);
}

.is-load{
	width: 0px;
}

.loader {
	position: absolute;
	width: 10px;
	height: 10px;
	z-index: 9999;
	top: 50%;
	left: 50%;
	opacity: .2;
	@include transform(translate(-50%, -50%) rotate(45deg) translate3d(0,0,0));
	@include animation(loader 1.2s infinite ease-in-out);

	span {
		position: absolute;
		display: block;
		width: 10px;
		height: 10px;
		background: $grey;
		@include animation(bounceIn 1.2s infinite ease-in-out both);

		&:nth-child(1) {
			top: 0;
			left: 0;
		}

		&:nth-child(2) {
			top: 0;
			right: 0;
			@include animation(loadInverse 1.2s infinite ease-in-out both);
		}

		&:nth-child(3) {
			bottom: 0;
			left: 0;
			@include animation(loadInverse 1.2s infinite ease-in-out both);
		}

		&:nth-child(4) {
			bottom: 0;
			right: 0;
		}
	}
}

@keyframes loader {
	0%,
	10%,
	100% {
		width: 10px;
		height: 10px;
	}

	65% {
		width: 30px;
		height: 30px;
	}
}
@keyframes loadInverse {
	0%,
	20% {
		transform: rotate(0);
	}

	55% {
		background-color: $white;
	}

	100% {
		transform: rotate(-90deg);
	}
}

/* --------------------------------
WRAPPERS
-------------------------------- */
body {
	perspective: 1000px;
}

.wrapper {
	height: 100vh;
	overflow: hidden;
	background: linear-gradient(90deg, rgba(0, 0, 0, .5)50%, rgba(0, 0, 0, .9)), url(../../../img/background/bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	@include transition(.5s);
}

.left-side {
	position: relative;
	width: 50%;
	float: left;
}

.right-side {
	position: relative;
	width: 50%;
	float: right;
	text-align: left;
}

.is-scroll {
	@include transform(translateZ(-10px));
}

.iScrollVerticalScrollbar, .iScrollLoneScrollbar{
	display: none!important;
}

#particles-js{
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 0;
}

/* --------------------------------
NAVIGATION
-------------------------------- */
.menu-btn {
    position: relative;
    line-height: 40px;
    background: none;
    border: 0;
    color: $white;
    cursor: pointer;
    opacity: 0.8;
	z-index: 9;
	float: left;
	display: none;
	@include transition(.2s);

    svg {
        width: 25px;

        rect {
            fill: $white;
            @include transition(.2s);

            &.first {
				transform-origin: bottom right;
				@include transform(rotate(0deg));
            }

            &.inbetween {
                opacity: 1;
            }

            &.last {
				transform-origin: top right;
				@include transform(rotate(0deg));
            }
        }
    }

    &:focus {
        outline: 0;
    }

    &:hover {
        opacity: 1;
        @include transition(.2s);
    }
}

.menu-btn-open {
    opacity: 1;

    svg {
        rect.first {
			width: 45px;
			@include transform(rotate(45deg));
        }

        rect.last {
			width: 45px;
			@include transform(rotate(-45deg));
        }

        rect.inbetween {
            opacity: 0;
        }
    }
}

.toggle-wrapp{
	overflow: visible;
	@include transition(.3s);
	@include transform(translateX(45vw));
}

.toggle-nav{
	opacity: 1;
	@include transition(.3s);
	@include transform(translateX(-45vw));
}

nav {
	margin: 20px 0 0 0;
	opacity: 0;
	z-index: 1;
	position: fixed;
	transition-property: opacity;
	@include transition(.3s);

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		@include transition(.3s);

		li {
			display: inline-block;
			&.active {

				a {
					opacity: 1;

					&:after {
						background: $white;
						height: 1px;
						width: 100%;
						left: 0;
						top: 45%;
						content: "";
						position: absolute;
						z-index: -1;
						@include transition(.3s ease 0s);
					}

					&:focus {
						opacity: 1;
						color: $white;
					}
				}
			}

			a {
				text-decoration: none;
				color: $white;
				text-transform: uppercase;
				margin: 10px;
				padding: 5px;
				font: $navFont;
				line-height: 14px;
				font-weight: 400;
				opacity: .4;
				position: relative;
				display: inline-block;
				@include transition(.3s);

				&:after {
					background: $white;
					height: 1px;
					width: 0;
					left: 0;
					top: 45%;
					content: "";
					position: absolute;
					z-index: -1;
					@include transition(.3s ease 0s);
				}

				&:focus {
					text-decoration: none;
					outline-offset: 0;
					outline: none;
				}

				&:hover {
					@extend a;
					opacity: 1;
					color: $white;
					background-color: transparent;
					
					&:after {
						width: 100%;
					}
				}
			}
		}
	}
}

/* --------------------------------
TEXT SECTION (TITLE, DESRIPTION FOR SECTION)
-------------------------------- */
.text-section {
	position: relative;
	width: 60%;

	.bg-title {
		font: $bgTitleFont;
		line-height: 150px;
		text-transform: uppercase;
		color: rgba($white, .1);
		position: absolute;
		z-index: -1;
		left: -10px;
		top: -50px;
		opacity: 0;
	}

	.title {
		font: $titleFont;
		line-height: 55px;
		text-transform: uppercase;
		color: $white;
		margin: 0;
		padding: 0;
		opacity: 0;
	}

	.pre-title{
		@extend .title;
		font: $preTitleFont;
		line-height: 25px;
		color: $grey;
	}

	.name-title{
		@extend .title;
	}

	p {

		&.descrip {
			margin: 20px 0;
			font: $descripFont;
			font-weight: 300;
			color: $grey;
			opacity: 0;
		}
	}
}

/* --------------------------------
SOCIAL SECTION
-------------------------------- */
ul {

	&.social-section {
	width: 70%;
	padding: 0;
	list-style-type: none;
	opacity: 0;

		li {
			opacity: .9;
			display: inline-block;
			@include transition(.3s);

			a {
				color: $white;
				text-decoration: none;
				margin: 10px;
				font-size: 20px;
			}

			&:hover {
				opacity: 1;
				@include transform(translateY(-3px));
			}
		}
	}
}

/* --------------------------------
BUTTONS
-------------------------------- */
.btn{
	padding: 11px 20px 11px 0;
	background: transparent;
	border: none;
	outline: none;
	color: $white;
	font: $btnFont;
	text-transform: uppercase;
	font-weight: 400;
	opacity: .6;
	position: relative;
	display: inline-block;
	@include transition(.3s);

	&:after {
		background: $white;
		height: 1px;
		width: 100%;
		left: 0;
		bottom: 0;
		content: "";
		position: absolute;
		z-index: -1;
		@include transition(.3s ease 0s);
	}

	&:focus{
		@extend .btn;
	}
	&:active{
		@extend .btn;
		outline: none!important;
	}

	&:hover{
		color: $black;
		background-color: transparent;
		opacity: 1;
		padding-left:10px;

		&:after {
			height: 100%;
		}
	}
}

.u-ff\@jso{
  font-family: 'Julius Sans One', sans-serif;
}

.left-sidebar{
	// position: relative;
	// width: 50%;
	// float: left;
}

.logo{
	position: absolute;
	left: 22%;
	bottom: 14%;
	h1{
		color: #FFF;
		text-align: center;
		span{
			font-size: 1em;
			display: block;
			&.panda{
				font-size: 2em;
			}
		}
	}
}