@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($value) {
  -webkit-transition: $value;
     -moz-transition: $value;
      -ms-transition: $value;
          transition: $value;
}

@mixin transition-delay($value) {
  -webkit-transition-delay: $value;
     -moz-transition-delay: $value;
      -ms-transition-delay: $value;
          transition-delay: $value;
}

@mixin transform($value) {
  -webkit-transform: $value;
     -moz-transform: $value;
      -ms-transform: $value;
          transform: $value;
}

@mixin box-shadow($value){
  -webkit-box-shadow: $value;
     -moz-box-shadow: $value;
      -ms-box-shadow: $value;
          box-shadow: $value;
}

@mixin animation($value){
  -webkit-animation: $value;
     -moz-animation: $value;
      -ms-animation: $value;
          animation: $value;
}

