@import "mixins.scss";
@import "variables.scss";

/*
Template Name: TRIME. - Creative Comin Soon OnePage HTML Template
Author: GuroThemes
Author URI: https://themeforest.net/user/gurothemes
Version: 1.0
*/


/*
TABLE OF CONTENTS:

1.WRAPPER
    1)PORTFOLIO CAROUSEL ITEMS

*/


/* --------------------------------
    WRAPPER
-------------------------------- */
.portfolio {
    height: 100vh;
    padding: 0 5% 0 5%;

    &:after {
        background: rgba($black, .5);
        height: 100vh;
        width: 100vw;
        left: 0;
        top: 0;
        right: 0;
        content: "";
        position: absolute;
        z-index: -2;
    }

    /* --------------------------------
        PORTFOLIO CAROUSEL ITEMS
    -------------------------------- */
    .item {
        margin: 50px 0 40px 0;
        padding: 0px;
        position: relative;
        overflow: hidden;
        text-align: center;

        .ovrlyT {
            background: rgba($black, .4);
            height: 100%;
            left: 0;
            position: absolute;
            top: -100%;
            width: 100%;
            @include transition (.3s);
        }

        .ovrlyB {
            background: rgba($black, .4);
            height: 100%;
            left: 0;
            position: absolute;
            top: 100%;
            width: 100%;
            @include transition (.3s);
        }

        .proj-name {
            opacity: 0;
            position: absolute;
            color: $white;
            text-align: center;
            font: $itemTitle;
            text-transform: uppercase;
            top: 5%;
            left: 25%;
            right: 25%;
            @include transition (.3s);
        }

        .proj-btn {
            opacity: 0;
            position: absolute;
            top: 0;
            right: 5%;
            @include transition (.3s);

            i {
                font-size: 30px;
            }
        }

        &:hover {
            
            .proj-name {
                opacity: 1;
                top: 45%;
            }
            
            .proj-btn {
                opacity: 1;
                top: 5%;
                @include transition-delay(.3s);
            }

            .ovrlyT,
            .ovrlyB {
                top: 0;
            }
        }
    }
}