@import "mixins.scss";
@import "variables.scss";

/*
Template Name: TRIME. - Creative Comin Soon OnePage HTML Template
Author: GuroThemes
Author URI: https://themeforest.net/user/gurothemes
Version: 1.0
*/

/* --------------------------------
RESPONSIVE
-------------------------------- */

@media only screen and (max-width: 1466px) {

    .counters-block {
        .counter-item {
            width: (100%/2.1);
            
        }
    }

    .text-section{
        width: 90%;

        .descrip{
            width: 90%;
        }
    }

}

@media only screen and (max-width: 1024px) {

    nav {
        margin: 20px 9%;
        ul{
            opacity: 1;
            @include transition(.5s);
            transform: translateX(-100vw);

            li{
                display: list-item;
                &.active {
                    
                        a {
                            opacity: 1;

                            &:after {
                                background: $black;
                            }

                            &:focus {
                                opacity: 1;
                                color: $black;
                            }
                        }
                    }

                a {
                    color: $black;
    
                    &:after {
                        background: $black;
                    }
    
                    &:hover {
                        opacity: 1;
                        color: $black;

                        &:after {
                            background: $black;
                        }
                    }
                }
            }
        } 
   }

    .menu-btn{
        display: block;
    }

    .left-side {
        display: none;
    }

    .text-section {

        .descrip{
            width: 80%;
        }
    }

    ul {

        &.social-section {
            width: 100%;
        }
    }

    .right-side {
        width: 100%;
    }

    .home {
        padding: 0 10%;
    }

    .about {
        padding: 0 10%;
    }

    .skills {
        padding: 0 10%;
    }

    .services {
        padding: 0 10%;
    }

    .portfolio {
        padding: 0 10%;
    }
    
    .contacts {
        padding: 0 15% 0 10%;
    }
}

@media only screen and (max-width: 767px) {

    nav {
        margin: 20px 8%;
    }

    .text-section {
        width: 100%;
    }

    .contacts {
        padding: 0 10%;
    }
}

@media only screen and (max-width: 479px) {

    .text-section {
        margin: 100px 0 0 0;

        .title {
            font-size: 50px;
            line-height: 48px;
        }

        .descrip{
            width: 100%;
        }
    }
    
    .contact-form {
        margin: 0;

        .field {
            margin: 20px 0;

            input {
                padding: 5px;
            }
        }
    }

    .contacts {
        padding: 0 15% 0 10%;

        .text-section {
            margin: 50px 0;
        }
    }
}

@media only screen and (max-width: 320px) {

    .text-section {

        .title {
            font-size: 40px;
            line-height: 48px;
        }

        p {

            &.descrip {
                font-size: 13px;
            }
        }
    }

    .counters-block {
        margin: -20px 0 0 0;

        .counter-item {

            span {
                font-size: 25px;
                font-weight: 400;
            }

            i {
                font-size: 25px;
                margin: 0 10px 0 0;
            }

            h2 {
                font-size: 12px;
                margin: 5px 0;
            }
        }
    }
}