@import "mixins.scss";
@import "variables.scss";

/*
Template Name: TRIME. - Creative Comin Soon OnePage HTML Template
Author: GuroThemes
Author URI: https://themeforest.net/user/gurothemes
Version: 1.0
*/

/*
TABLE OF CONTENTS:

1.WRAPPER
2.SERVICES CAROUSEL
3.SERVICES CAROUSEL ITEMS

*/

/* --------------------------------
WRAPPER
-------------------------------- */
.services {
    height: 100vh;
    padding: 0 5% 0 5%;

    &:after {
        background: rgba($black, .5);
        height: 100vh;
        width: 100vw;
        left: 0;
        top: 0;
        right: 0;
        content: "";
        position: absolute;
        z-index: -2;
    }
}

/* --------------------------------
SERVICES CAROUSEL
-------------------------------- */
.owl-carousel,
.owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot,
.owl-carousel-cont .owl-nav .owl-prev,
.owl-carousel-cont .owl-nav .owl-next,
.owl-carousel-cont {
    display: inline-block;
    opacity: 0;
}

.owl-nav{
    width: 40px;
    float: left;
    color: $white;

    .owl-next{
        float: right;
        font-size: 24px;
        line-height: 22px;
        position: relative;
        @include transition(.2s);

        &:hover{
            margin-right: -4px;
            color: $white;
            background-color: transparent;

            &:after {
                width: 15px;
                right: 1px;
            }
        }

        &:after {
            background: $white;
            height: 1px;
            width: 0;
            right: 0;
            top: 50%;
            content: "";
            position: absolute;
            z-index: -1;
            @include transition(.3s ease 0s);
        }
    }

    .owl-prev{
        float: left;
        font-size: 24px;
        line-height: 22px;
        position: relative;
         @include transition(.2s);

        &:hover{
            margin-left: -4px;
            color: $white;
            background-color: transparent;

            &:after {
                width: 15px;
                left: 1px;
            }
        }

        &:after {
            background: $white;
            height: 1px;
            width: 0;
            left: 0;
            top: 50%;
            content: "";
            position: absolute;
            z-index: -1;
            @include transition(.3s ease 0s);
        }
    }
}

/* --------------------------------
SERVICES CAROUSEL ITEMS
-------------------------------- */
.item{
    margin: 50px 0 40px 0;
    padding: 2px;
    

    i{
        font-size: 35px;
        color: $white;
    }

    h1{
        font: $itemTitle;
        line-height: 12px;
        text-transform: uppercase;
        color: $white;
        margin: 15px 0 0 0;
        padding: 0;
    }

    p{
        margin: 10px 0 0 0;
        font: $itemDescrip;
        font-weight: 300;
        color: $grey;
    }
}