@import "mixins.scss";
@import "variables.scss";
/*
Template Name: TRIME. - Creative Comin Soon OnePage HTML Template
Author: GuroThemes
Author URI: https://themeforest.net/user/gurothemes
Version: 1.0
*/

/*
TABLE OF CONTENTS:

1.WRAPPER
2.SKILL BLOCK
3.COUNTERS BLOCK

*/

/* --------------------------------
    WRAPPER
-------------------------------- */
.skills {
    height: 100vh;
    padding: 0 5% 0 5%;

    &:after {
        background: rgba($black, .5);
        height: 100vh;
        width: 100vw;
        left: 0;
        top: 0;
        right: 0;
        content: "";
        position: absolute;
        z-index: -2;
    }
}

/* --------------------------------
    SKILL BLOCK
-------------------------------- */
.skill-block {
    opacity: 0;

    .skill-item {
        position: relative;
        display: block;
        margin: 40px 0;
        width: 90%;
        background: $light-grey;
        height: 6px;
        @include transition(0.4s linear);

        h1 {
            display: block;
            position: absolute;
            top: -30px;
            left: 0;
            font: $skillTitle;
            font-weight: 300;
            color: $white;
            text-transform: uppercase;
        }

        .skill-bar {
            height: 6px;
            width: 0;
            background: $grey;
        }

        .skill-percent {
            position: absolute;
            right: 0;
            top: -30px;
            font: $skillPercent;
            font-weight: 300;
            color: $white;
            line-height: 35px;
        }
    }
}

/* --------------------------------
    COUNTERS BLOCK
-------------------------------- */
.counters-block {
    width: 100%;
    opacity: 0;

    .counter-item {
        text-align: left;
        display: inline-block;
        width: (100%/4.1);

        span {
            font: $counterNumb;
            font-weight: 400;
            color: $white;
            padding: 0;
            margin: 0;
            display: inline-block;
        }

        i {
            font-size: 30px;
            padding: 0;
            color: $grey;
            margin: 0 10px 0 0;
        }

        h2 {
            font: $counterTitle;
            color: $grey;
            text-transform: uppercase;
            margin: 10px 0;
        }
    }
}