$black: #000000;
$white: #FFFFFF;
$darkGrey: #7a7a7a;
$grey: #B9B9B9;
$light-grey: #F9F9F9;
$error: #a94442;


$oswald: 'Oswald', sans-serif;
$opensans: 'Open Sans', sans-serif;


$counterDaysV: 150px $oswald;
$counterDaysU: 60px $oswald;
$counterHourV: 75px $oswald;
$counterHourU: 16px $oswald;
$counterMinV: 24px $oswald;
$counterMinU: 12px $oswald;

$counterMobileV: 24px $oswald;
$counterMobileU: 12px $oswald;



$navFont: 13px $opensans;

$bgTitleFont: 150px $oswald;
$titleFont: 60px $oswald;
$preTitleFont: 20px $oswald;
$descripFont: 15px $opensans;

$skillTitle: 12px $opensans;
$skillPercent: 11px $opensans;

$counterNumb: 28px $oswald;
$counterTitle: 13px $opensans;

$itemTitle: 14px $oswald;
$itemDescrip: 14px $opensans;

$contactInf: 14px $opensans;
$labelFont: 14px $opensans;
$inputFont: 14px $opensans;
$btnFont: 15px $opensans;

$errorText: 10px $opensans;