/*
[Master Stylesheet]

[Table of contents]

1. General
2. Header
3. Sidebar
4. Contact
5. Coming Soon
6. 404
7. About
8. Blog
9. Carousel
10. Work
11. Ribbon
12. Sharing
13. Home
14. Retina
15. Responsive
*/
/* General */

html {
    overflow-x: hidden;
    overflow-y: visible;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #d5d5d5;
    background: #121212;
    overflow: visible;
    text-shadow: none;
}
ul,
li {
    margin: 0;
    padding: 0;
}
section {
    border-bottom: 1px solid #2a2a2a;
    padding-bottom: 47px;
    padding-right: 0px;
}
a {
    color: inherit;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
a:hover {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: #ffffff;
    line-height: normal;
}
h1 {
    font-size: 50px;
    margin-bottom: 17px;
}
h2 {
    font-size: 40px;
    margin-left: 1px;
}
h3 {
    font-size: 30px;
    margin-top: 22px;
    margin-left: 2px;
}
h4 {
    font-size: 25px;
    margin-top: 26px;
    margin-left: 2px;
    line-height: 30px;
}
h5 {
    font-size: 15px;
    margin-top: 31px;
    margin-left: 3px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 18px;
}
h6 {
    font-size: 13px;
    margin-top: 33px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    margin-left: 3px;
    line-height: 15px;
}
.container-fluid {
    padding: 0;
}
.panda_hover_line {
    position: absolute;
    display: block;
    height: 0px;
    width: 110%;
    margin-left: -5%;
    top: 7px;
    background-color: #fff;
    opacity: 0.3;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
.logotype-retina {
    display: none;
}
.progressbar {
    display: block;
    margin: 18px 0 55px 0;
    height: 5px;
    position: relative;
    background: #242628;
}
.bar {
    display: block;
    width: 0;
    height: 100%;
    background: #a98b69;
}
.label {
    display: inline-block;
    position: absolute;
    top: -35px;
    font-size: 12px;
}
.panda_block_hover {
    position: absolute;
    display: block;
    background: rgba(155, 128, 97, 0.9);
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    text-align: left;
}
.panda_center_block {
    position: relative;
    top: 50%;
    -webkit-transform: perspective(1px);
    transform: perspective(1px);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 85px;
}
/* Header */

header {
    height: 82px;
    position: relative;
    top: 0;
    z-index: 110;
}
.header_fw {
    width: 99%;
    line-height: 20px;
    padding: 0 10px;
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 10;
}
.panda_logo_cont {
    display: block;
    float: left;
    margin-left: 19px;
    padding-top: 37px;
    z-index: 10;
}
.panda_menu {
    height: 82px;
}
.panda_menu_cont {
    float: right;
    font-size: 0px;
    padding-right: 0px;
}
.panda_menu_cont li {
    display: inline-block;
    height: 82px;
    margin-right: 31px;
    position: relative;
}
.panda_menu_cont li a {
    display: inline-block;
    position: relative;
    font-size: 15px;
    color: #fff;
    height: 82px;
    padding: 48px 4px 0 4px;
    overflow-x: hidden;
}
.panda_menu_cont li a:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    margin-left: -110%;
    height: 7px;
    top: 55px;
    background-color: #fff;
    opacity: 0.3;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
.panda_menu_cont li a:hover:before {
    margin-left: -4px;
}
.panda_menu_cont li .panda_active:before {
    content: "";
    margin-left: -4px;
}
.panda_menu_cont li:hover .sub-menu {
    display: block;
}
.panda_menu_cont li:hover a:before {
    margin-left: -4px;
}
.panda_menu_cont:last-child {
    margin-right: 0;
}
.clear {
    clear: both;
}
.active {
    color: #a98b69;
}
.sub-menu {
    display: none;
    position: absolute;
    background-color: #242628;
    list-style-type: square;
    font-size: 15px;
    padding: 19px 35px 19px 29px;
    right: -75px;
    top: 82px;
    overflow: hidden;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    width: 200px;
}
.sub-menu li {
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    display: list-item;
    margin-left: 16px;
    margin-right: 0;
    height: auto;
    font-size: 10px;
}
.sub-menu li a {
    margin: 0;
    padding: 7.5px 7px;
    overflow-x: visible;
    height: auto;
    color: #d5d5d5;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    display: block;
}
.sub-menu li a:hover {
    color: #a98b69;
}
.sub-menu li a:before {
    content: "";
    display: none;
}
.sub-menu .active {
    color: #a98b69;
}
.sub-menu li:hover {
    color: #a98b69;
}
.mobile_header {
    display: none;
    position: relative;
    padding: 10px 20px;
}
.btn_mobile_menu {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 22px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.btn_mobile_menu span {
    display: block;
    width: 31px;
    height: 4px;
    position: absolute;
    left: 0;
    background: #fff;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
}
.panda_menu_line1 {
    top: 4px;
}
.panda_menu_line2 {
    top: 13px;
}
.panda_menu_line3 {
    top: 22px;
}
.opened .panda_menu_line1 {
    -webkit-transform: rotate(135deg) translate(7px, -6px);
    -ms-transform: rotate(135deg) translate(7px, -6px);
    transform: rotate(135deg) translate(7px, -6px);
}
.opened .panda_menu_line2 {
    opacity: 0;
}
.opened .panda_menu_line3 {
    -webkit-transform: rotate(-135deg) translate(7px, 6px);
    -ms-transform: rotate(-135deg) translate(7px, 6px);
    transform: rotate(-135deg) translate(7px, 6px);
}
.mobile_menu_wrapper {
    display: none;
    z-index: 101;
}
.mobile_menu_wrapper .mobile_menu {
    background-color: #121212;
    list-style-type: square;
    font-size: 15px;
    padding: 19px 35px 19px 29px;
    overflow: hidden;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    position: relative;
}
.mobile_menu_wrapper .mobile_menu li {
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    display: list-item;
    margin-left: 16px;
    height: auto;
    font-size: 10px;
}
.mobile_menu_wrapper .mobile_menu li a {
    display: inline-block;
    position: relative;
    font-size: 15px;
    color: #fff;
    padding: 15px 4px 0 4px;
}
.mobile_menu_wrapper .mobile_menu li a:hover {
    color: #a98b69;
}
.mobile_menu_wrapper .mobile_menu .active {
    color: #a98b69;
}
.mobile_menu_wrapper .mobile_menu li:hover {
    color: #a98b69;
}
#panda_post {
    z-index: -10;
}
.panda_main {
    display: table;
}
.panda_content {
    display: table-cell;
    padding: 171px 100px 0 5px;
    margin-top: -82px;
}
.panda_sect_title {
    margin-top: 47px;
    margin-bottom: 31px;
}
.panda_text {
    line-height: 22px;
    margin-left: 2px;
    margin-top: 22px;
}
.panda_paragraphs {
    padding-bottom: 44px;
}
.panda_paragraphs span {
    color: #9f8363;
}
.panda_dropcaps {
    padding-bottom: 44px;
}
.panda_dropcaps b {
    display: inline-block;
    font-weight: 700;
    font-size: 40px;
    color: #a98b69;
    float: left;
    margin: 9px 19px 0 2px;
}
.panda_blockquotes blockquote {
    font-size: 20px;
    border-left: 5px solid #a98b69;
    padding-left: 15px;
    line-height: 30px;
    margin-top: 33px;
    margin-left: 3px;
}
.panda_blockquotes blockquote p {
    letter-spacing: 0.05px;
}
.panda_highlighter {
    padding-bottom: 44px;
}
.panda_highlighter .panda_color {
    background-color: #a98b69;
}
.panda_highlighter span {
    background-color: #242628;
}
.panda_listings {
    border-bottom: none;
    padding-bottom: 1px;
}
.panda_listings .panda_sect_title {
    margin-bottom: 32px;
}
.panda_listings ol {
    padding-left: 35px;
}
.panda_listings ol li {
    padding-left: 7px;
    margin-bottom: 11px;
}
.panda_listings ul {
    padding-left: 35px;
    list-style-type: square;
}
.panda_listings ul li {
    padding-left: 4px;
    margin-bottom: 11px;
}
.panda_instagram {
    padding: 0px;
    text-align: center;
    background-color: #121212;
    position: relative;
}
.panda_instagram h5 {
    color: #a98b69;
    margin-top: 98px;
}
.panda_instagram h2 {
    margin-top: 26px;
    letter-spacing: 0.2px;
}
.panda_instagram ul {
    list-style: none;
    font-size: 0;
    margin: 50px 0 170px 0;
}
.panda_instagram ul li {
    display: inline-block;
    padding: 0 15px;
    font-size: 15px;
    vertical-align: top;
}
.panda_instagram ul li:nth-child(even) {
    padding-top: 20px;
}
.panda_instagram ul a {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    display: block;
    width: 100%;
    height: 100%;
}
.panda_instagram ul a:hover {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
}
.panda_instagram .panda_up {
    position: absolute;
    display: inline-block;
    margin-left: -29.895px;
    bottom: 0;
}
.panda_instagram .panda_up h6 {
    margin: 0;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
.panda_instagram .panda_up .panda_up_line {
    width: 1px;
    height: 40px;
    background-color: #898989;
    margin: 17px auto 0 auto;
}
.panda_instagram .panda_up:hover h6 {
    cursor: pointer;
    color: #a98b69;
}
/* Sidebar */

.panda_sidebar {
    background: #191919;
    padding: 219px 0 0 0;
    margin-top: -82px;
    height: auto;
    position: relative;
    display: table-cell;
}
.panda_sidebar article {
    margin-bottom: 88px;
}
.panda_sidebar h6 {
    margin: 0;
    overflow: hidden;
}
.panda_sidebar h6:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 1px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background-color: #303030;
    margin-right: -100%;
    border: solid #191919;
    border-width: 0 20px;
    margin-bottom: 2px;
}
.panda_sidebar .panda_about_sidebar h6 {
    margin-bottom: 32px;
}
.panda_sidebar .panda_about_sidebar p {
    margin-bottom: 21px;
}
.panda_sidebar .panda_categories {
    margin-top: 97px;
    margin-bottom: 84px;
}
.panda_sidebar .panda_categories ul {
    list-style-type: square;
    margin-left: 14px;
}
.panda_sidebar .panda_categories li {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-size: 10px;
}
.panda_sidebar .panda_categories span {
    float: right;
    padding-top: 7px;
    font-size: 15px;
    color: #8c8c8c;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.panda_sidebar .panda_categories h6 {
    margin-bottom: 26px;
}
.panda_sidebar .panda_categories a {
    line-height: 35px;
    margin-left: 6px;
    height: 100%;
    font-size: 15px;
}
.panda_sidebar .panda_categories a:hover {
    color: #a98b69;
}
.panda_sidebar .panda_categories li:hover {
    color: #a98b69;
}
.panda_sidebar .panda_categories li:hover span {
    color: #a98b69;
}
.panda_sidebar .panda_posts {
    margin-bottom: 67px;
}
.panda_sidebar .panda_posts h6 {
    margin-bottom: 37px;
}
.panda_sidebar .panda_posts img {
    float: left;
    margin: 0 20px 30px 0;
}
.panda_sidebar .panda_posts ul {
    list-style: none;
}
.panda_sidebar .panda_posts p {
    padding: 5px 0 0px 0;
    line-height: 22px;
}
.panda_sidebar .panda_posts time {
    color: #8c8c8c;
    font-size: 12px;
    padding-bottom: 15px;
}
.panda_sidebar .panda_tags ul {
    margin-top: 36px;
    padding-bottom: 3px;
    list-style: none;
    font-size: 0;
}
.panda_sidebar .panda_tags li {
    display: inline-block;
    margin: 0 10px 8px 0;
}
.panda_sidebar .panda_tags li a {
    display: inline-block;
    padding: 12px 10px 10px 10px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    background-color: rgba(36, 38, 40, 0.5);
    letter-spacing: 1px;
    line-height: 8px;
}
.panda_sidebar .panda_tags li a:hover {
    background-color: #a98b69;
    color: #fff;
}
.panda_sidebar .panda_tags li:nth-child(4) {
    margin-right: 0;
}
.panda_sidebar .panda_banner {
    margin-bottom: 100px;
}
.panda_sidebar .panda_banner img {
    width: 100%;
    height: auto;
}
.panda_sidebar:before {
    content: "";
    position: absolute;
    background: #191919;
    width: 35px;
    top: 0px;
    left: -35px;
    height: 100%;
}
.panda_sidebar:after {
    content: "";
    position: absolute;
    background: #191919;
    width: 450%;
    top: 0px;
    left: 100%;
    height: 100%;
}
.panda_search {
    margin-top: 88px;
    border-bottom: 1px solid #303030;
    padding-bottom: 14px;
    color: #fff;
}
.panda_search label {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1.2px;
}
.panda_search button {
    background-color: transparent;
    float: right;
    border: none;
    color: #8c8c8c;
    font-size: 10px;
}
.panda_search button:hover {
    color: #a98b69;
}
.panda_search input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 13px;
    letter-spacing: 1.3px;
    line-height: 15px;
    color: #fff;
}
.panda_search input::-moz-placeholder {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 1;
}
.panda_search input::-webkit-input-placeholder {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}
.panda_search input:-ms-input-placeholder {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}
.panda_search input:focus::-webkit-input-placeholder {
    color: transparent;
}
.panda_search input:focus::-moz-placeholder {
    color: transparent;
}
footer {
    text-align: center;
    background-color: #191919;
    position: relative;
    padding-right: 30px;
    color: #8c8c8c;
    z-index: 100;
}
footer .panda_footer_contact {
    margin: 27px 0 70px 0;
}
footer .panda_footer_contact li {
    display: inline-block;
}
footer .panda_footer_contact li small {
    font-size: 15px;
    margin: 0 35px;
    letter-spacing: 0;
}
footer .panda_footer_contact li:before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #8c8c8c;
    margin-bottom: 3px;
}
footer .panda_footer_contact li:first-child:before {
    display: none;
}
.panda_social {
    font-size: 0;
    margin-top: 56px;
}
.panda_social li {
    display: inline-block;
}
.panda_social li a {
    font-size: 15px;
    margin: 0 15px;
    display: inline-block;
}
.panda_social li a:hover {
    color: #a98b69;
}
.panda_typography .panda_main {
    margin-top: -82px;
}
.panda_typography .panda_content,
.panda_typography .panda_sidebar {
    float: none;
}
.panda_typography .panda_sidebar {
    top: -21px;
}
/* Contact */

.panda_contact {
    text-align: center;
    margin-top: 34px;
}
.panda_contact .panda_main {
    display: block;
}
.panda_contact section {
    border: none;
}
.panda_contact h5 {
    color: #a98b69;
    margin-top: 98px;
}
.panda_contact h1 {
    margin: 25px 0 5px 0;
}
.panda_contact p {
    letter-spacing: 0.05px;
}
.panda_contact img {
    width: 100%;
    height: auto;
}
.panda_contact .panda_contacts {
    margin-top: 53px;
}
.panda_contact .panda_contacts div {
    padding: 0;
    background-color: #191919;
}
.panda_contact .panda_contacts div:last-child {
    margin-top: 40px;
    padding-top: 41px;
}
.panda_contact .panda_contacts div:last-child h6 {
    margin-top: 92px;
    margin-bottom: 34px;
}
.panda_contact .panda_contacts div:last-child p {
    margin-bottom: 12px;
}
.panda_contact .panda_contacts .panda_contact_social {
    font-size: 0;
    padding: 3px 0 138px 0;
}
.panda_contact .panda_contacts .panda_contact_social li {
    display: inline-block;
}
.panda_contact .panda_contacts .panda_contact_social li a {
    display: inline-block;
    font-size: 15px;
    width: 28px;
    height: 28px;
    background: #242628;
    line-height: 28px;
    vertical-align: middle;
    margin: 0 5px;
}
.panda_contact .panda_contacts .panda_contact_social li a:hover {
    background: #a98b69;
    color: #ffffff;
}
.panda_contact_form {
    text-align: left;
    margin: 0 -15px;
    margin-top: 46px;
}
.panda_contact_form h4 {
    margin-left: -2px;
}
.panda_contact_form input {
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 1px solid #2a2a2a;
    outline: none;
    font-size: 13px;
    vertical-align: top;
    color: #fff;
    height: 70px;
    padding: 40px 0 20px 0;
}
.panda_contact_form input::-moz-placeholder {
    color: #fff;
    opacity: 1;
}
.panda_contact_form input::-webkit-input-placeholder {
    color: #fff;
}
.panda_contact_form input:-ms-input-placeholder {
    color: #fff;
}
.panda_contact_form input:focus::-webkit-input-placeholder {
    color: transparent;
}
.panda_contact_form input:focus::-moz-placeholder {
    color: transparent;
}
.panda_contact_form .panda_contact_join {
    height: 78px;
    padding: 39px 0 84px 0;
}
.panda_contact_form .panda_contact_join::-moz-placeholder {
    line-height: 100px;
    color: #fff;
    opacity: 1;
}
.panda_contact_form .panda_contact_join::-webkit-input-placeholder {
    color: #fff;
    vertical-align: 10px;
    line-height: 100px;
}
.panda_contact_form .panda_contact_join:-ms-input-placeholder {
    color: #fff;
    line-height: 100px;
}
.panda_contact_form button {
    background: transparent;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    float: left;
    letter-spacing: 1.2px;
    margin-top: 35px;
    margin-bottom: 100px;
    position: relative;
}
.panda_contact_map {
    margin: 52px -15px -11px -15px;
    padding-bottom: 0;
}
.canvas_map_container {
    height: 710px;
    width: 100%;
}
/* Coming Soon */

.panda_coming_soon {
    text-align: center;
    background: url("../img/panda_coming_soon_img.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.panda_coming_soon header {
    position: absolute;
    width: 100%;
}
.panda_coming_soon .panda_logo_cont {
    float: none;
}
.panda_coming_soon .panda_main {
    display: block;
}
.panda_coming_soon .panda_coming {
    position: relative;
    top: 50%;
    -webkit-transform: perspective(1px);
    transform: perspective(1px);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.panda_coming_soon #CDT {
    display: block;
}
.panda_coming_soon #CDT .number-wrapper {
    font-size: 60px;
    display: inline-block;
    margin: 13px 81px;
    color: #fff;
    position: relative;
}
.panda_coming_soon #CDT .number {
    color: #fff;
    font-size: 120px;
    font-weight: 700;
    margin-top: 0;
    line-height: 198px;
}
.panda_coming_soon #CDT .caption {
    font-size: 13px;
    margin-top: 70px;
    position: absolute;
    width: 100%;
    bottom: 0;
    letter-spacing: 1.3px;
}
.panda_coming_soon h6 {
    margin-top: 79px;
}
.panda_coming_soon .panda_coming_email form {
    display: inline-block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    width: 450px;
    text-align: left;
    margin-top: 39px;
    padding-bottom: 15px;
}
.panda_coming_soon .panda_coming_email button {
    background-color: transparent;
    float: right;
    border: none;
    color: #d5d5d5;
    font-size: 10px;
}
.panda_coming_soon .panda_coming_email input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 15px;
    color: #fff;
}
.panda_coming_soon .panda_coming_email input::-moz-placeholder {
    color: #d5d5d5;
    opacity: 1;
}
.panda_coming_soon .panda_coming_email input::-webkit-input-placeholder {
    color: #d5d5d5;
}
.panda_coming_soon .panda_coming_email input:-ms-input-placeholder {
    color: #d5d5d5;
}
.panda_coming_soon .panda_coming_email input:focus::-webkit-input-placeholder {
    color: transparent;
}
.panda_coming_soon .panda_coming_email input:focus::-moz-placeholder {
    color: transparent;
}
.panda_coming_soon footer {
    background: transparent;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 70px;
}
.panda_coming_soon footer .panda_coming_social {
    font-size: 0;
}
.panda_coming_soon footer .panda_coming_social li {
    display: inline-block;
}
.panda_coming_soon footer .panda_coming_social li a {
    display: inline-block;
    font-size: 15px;
    width: 28px;
    height: 28px;
    background: #242628;
    line-height: 28px;
    vertical-align: middle;
    margin: 0 5px;
}
.panda_coming_soon footer .panda_coming_social li a:hover {
    background: #a98b69;
    color: #ffffff;
}
/* 404 */

.panda_404 {
    background: url("../img/panda_404_img.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.panda_404 header {
    position: absolute;
    width: 100%;
}
.panda_404 .panda_main {
    display: block;
}
.panda_404 .panda_404_center {
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%);
}
.panda_404 .panda_404_center h1 {
    font-size: 72px;
    padding-top: 56px;
    line-height: 72px;
    letter-spacing: 0.3px;
}
.panda_404 .panda_404_center p {
    font-size: 15px;
    padding-top: 19px;
    padding-bottom: 50px;
    color: #fff;
    letter-spacing: 0.10px;
}
.panda_404 .panda_404_center .panda_reference {
    display: inline-block;
    border-bottom: none;
    float: none;
    overflow-x: hidden;
    margin-top: 0;
}
/* About */

.panda_about_page .mobile_menu .menu-item {
    text-align: left;
}
.panda_about_page .panda_main {
    display: block;
    position: relative;
}
.panda_about_page section h5 {
    color: #a98b69;
    margin-bottom: 27px;
}
.panda_about_page section h3 {
    line-height: 40px;
    margin-bottom: 25px;
}
.panda_about_page header {
    height: 100%;
    text-align: center;
    z-index: 10;
}
.panda_about_page header .sub-menu {
    text-align: left;
}
.panda_about_page header .owl-carousel {
    z-index: 2;
}
.panda_about_page header .header_fw {
    z-index: 10;
}
.panda_about_page header .owl-prev,
.panda_about_page header .owl-next {
    width: 22px;
    height: 22px;
    background: transparent;
    margin: 0 38px;
    position: absolute;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 100;
}
.panda_about_page header .owl-next {
    background: url("../img/arrow_right.png") no-repeat;
    background-position: center;
    background-size: cover;
    right: 0;
}
.panda_about_page header .owl-next:hover {
    opacity: 0.8;
}
.panda_about_page header .owl-prev {
    background: url("../img/arrow_left.png") no-repeat;
    background-position: center;
    background-size: cover;
}
.panda_about_page header .owl-prev:hover {
    opacity: 0.8;
}
.panda_about_page header .owl-dots {
    display: none;
}
.panda_scroll_line {
    display: inline-block;
    height: 39px;
    width: 1px;
    background: rgba(255, 255, 255, 0.5);
    margin-top: 15px;
}
.panda_scroll {
    top: -49px;
    position: absolute;
    z-index: 100;
    left: 48.5%;
}
.panda_item {
    position: relative;
}
.panda_item .panda_header_title {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%);
}
.panda_item .panda_header_title p {
    font-size: 20em;
    font-weight: 900;
    letter-spacing: 0.5em;
    padding-left: 0.4em;
    width: 100%;
    margin: 0 auto;
    line-height: 1em;
    color: rgba(255, 255, 255, 0.3);
}
.panda_item .panda_header_title h1 {
    position: absolute;
    display: block;
    font-size: 72px;
    letter-spacing: 0.45px;
    width: 100%;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%);
    margin: 0;
}
.owl-dots {
    position: absolute;
    height: 10px;
}
.owl-dots .active {
    background: #fff;
}
.owl-dot {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0 5px;
    background: #8c8c8c;
}
.panda_about {
    z-index: 12;
    margin-top: -120px;
    position: relative;
}
.panda_about .panda_contacts {
    margin-top: -5px;
}
.panda_about .panda_contacts div:last-child {
    margin-top: 40px;
    padding: 41px 60px 154px 60px;
}
.panda_about .panda_contacts h5 {
    margin-top: 127px;
}
.panda_about .panda_contacts h3 {
    letter-spacing: -0.1px;
}
.panda_about .panda_capabilities {
    margin-left: -15px;
    margin-right: -15px;
}
.panda_about .panda_capabilities h5 {
    margin-top: 50px;
}
.panda_about .panda_capabilities h3 {
    margin-bottom: 4px;
}
.panda_about .panda_capabilities .panda_text {
    width: 65%;
    display: inline-block;
}
.panda_about .panda_capabilities .col-md-3 {
    background: #191919;
    border: 15px solid #121212;
    padding: 0;
    margin-top: 40px;
}
.panda_about .panda_capabilities .col-md-3 h5 {
    color: #fff;
    margin-top: 55px;
}
.panda_about .panda_capabilities ul {
    list-style: none;
    margin-bottom: 48px;
}
.panda_about .panda_capabilities ul a {
    line-height: 32px;
    letter-spacing: 0.1px;
}
.panda_about .panda_capabilities ul a:hover {
    color: #a98b69;
}
.panda_about .panda_capabilities img {
    height: 105px;
    width: 115px;
    margin-top: 5px;
    margin-bottom: 29px;
}
.panda_about .panda_gallery {
    margin-top: 39px;
}
.panda_about .panda_gallery div {
    height: auto;
    padding: 0;
    margin: 0;
}
.panda_about .panda_testimonials {
    background: #191919;
    text-align: left;
}
.panda_about .panda_testimonials .container {
    padding: 0;
}
.panda_about .panda_testimonials img {
    width: 270px;
    height: 270px;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    position: relative;
    margin: 104px 30px 104px 0;
    padding: 0;
}
.panda_about .panda_testimonials .panda_testi_item {
    position: relative;
}
.panda_about .panda_testimonials .panda_testi_content {
    position: absolute;
    margin: auto;
    top: 50%;
    -webkit-transform: perspective(1px);
    transform: perspective(1px);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 25.4%;
    padding-bottom: 25px;
}
.panda_about .panda_testimonials h3 {
    font-weight: 400;
    padding-bottom: 14px;
    letter-spacing: 0.15px;
}
.panda_about .panda_testimonials span {
    font-size: 100px;
    margin-left: -100px;
    margin-right: 64px;
    line-height: 0;
}
.panda_about .panda_testimonials .panda_name {
    font-size: 13px;
    text-transform: uppercase;
    padding-top: 0px;
}
.panda_about .panda_testimonials .panda_prof {
    font-size: 12px;
    margin-top: 3px;
    color: #8c8c8c;
    margin-left: 2px;
}
.panda_about .panda_testimonials .owl-dots {
    bottom: 34%;
    right: 19.3%;
}
.panda_about .panda_team {
    margin-top: 92px;
    text-align: left;
    padding: 0;
}
.panda_about .panda_team .owl-dots {
    display: inline-block;
    margin-top: 86px;
    margin-left: -40px
}
.panda_about .panda_team p {
    margin: 26px 0 54px 0;
}
.panda_about .panda_team .owl-carousel {
    text-align: center;
}
.panda_about .panda_team .owl-carousel ul {
    margin: 0 -45px;
    display: inline-block;
    text-align: center;
    position: relative;
    font-size: 0;
}
.panda_about .panda_team .owl-carousel ul li {
    display: inline-block;
    margin: 0 45px;
    position: relative;
    z-index: 2;
    background-color: #191919;
}
.panda_about .panda_team .owl-carousel ul li:nth-child(n+4) {
    margin-top: -100px;
    z-index: 1;
    background-color: #9dcbdb;
}
.panda_about .panda_team .owl-carousel ul li:hover .panda_team_hover {
    opacity: 1;
}
.panda_about .panda_team .owl-carousel ul li:nth-child(n+4):hover {
    z-index: 3;
}
.panda_about .panda_team .panda_team_hover {
    opacity: 0;
    position: absolute;
    background: rgba(155, 128, 97, 0.9);
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.panda_about .panda_team .panda_team_hover .panda_prof,
.panda_about .panda_team .panda_team_hover .panda_name {
    color: #fff;
    margin: 0;
    position: absolute;
    bottom: 34px;
}
.panda_about .panda_team .panda_team_hover .panda_prof {
    font-size: 12px;
}
.panda_about .panda_team .panda_team_hover .panda_name {
    bottom: 57px;
    letter-spacing: 2.7px;
}
.panda_about .panda_team .panda_team_hover .panda_social {
    margin: 0;
    position: static;
    text-align: left;
}
.panda_about .panda_team .panda_team_hover .panda_social li {
    display: block;
    margin: 0 0 8px 0;
    background-color: transparent;
}
.panda_about .panda_team .panda_team_hover .panda_social li a {
    margin: 0;
}
.panda_about .panda_team .panda_team_hover .panda_social li a:hover {
    color: #ffffff;
    opacity: 0.7;
}
.panda_about .panda_team .panda_team_hover .panda_social li:nth-child(4) {
    margin-top: 0;
    background-color: transparent;
}
.panda_about .panda_team img {
    width: 330px;
    height: 430px;
}
.panda_about .panda_subscribe {
    padding: 0;
    text-align: left;
    margin-top: 111px;
}
.panda_about .panda_subscribe h5 {
    margin-left: 0;
}
.panda_about .panda_subscribe .panda_search {
    margin-top: 44px;
    padding-bottom: 17px;
}
.panda_about .panda_subscribe .panda_search button {
    font-size: 25px;
    padding-top: 15px;
    color: #fff;
    border: none;
    outline: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.panda_about .panda_subscribe .panda_search button:hover {
    opacity: 0.5;
}
.panda_about .panda_subscribe .panda_search input {
    font-size: 50px;
    line-height: 50px;
    -webkit-appearance: none;
}
.panda_about .panda_subscribe .panda_search input::-moz-placeholder {
    text-transform: none;
    letter-spacing: 0;
}
.panda_about .panda_subscribe .panda_search input::-webkit-input-placeholder {
    letter-spacing: 0;
    text-transform: none;
}
.panda_about .panda_subscribe .panda_search input:-ms-input-placeholder {
    text-transform: none;
    letter-spacing: 0;
}
.panda_social_block {
    margin-top: 94px;
    text-align: center;
    font-size: 0;
}
.panda_social_block li {
    display: inline-block;
}
.panda_social_block li a {
    display: inline-block;
    font-size: 15px;
    width: 28px;
    height: 28px;
    background: #242628;
    line-height: 28px;
    vertical-align: middle;
    margin: 0 5px;
}
.panda_social_block li a:hover {
    background: #a98b69;
    color: #ffffff;
}
.panda_about_personal {
    text-align: center;
}
.panda_about_personal .col-md-6 {
    position: relative;
    height: 100vh;
}
.panda_about_personal .col-md-6 .panda_center_block {
    -webkit-transform: perspective(1px);
    transform: perspective(1px);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.panda_about_personal .panda_center_block h5 {
    color: #a98b69;
    text-transform: uppercase;
    padding-top: 0;
    margin-top: -2px;
}
.panda_about_personal .panda_center_block h1 {
    margin-top: 24px;
}
.panda_about_personal .col-md-6:first-child {
    background: url("../img/panda_personal_img.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.panda_shifted_bloks {
    text-align: center;
}
.panda_shifted_bloks img {
    width: 100%;
    height: auto;
}
.panda_shifted_bloks div {
    padding: 0;
}
.panda_shifted_bloks div:last-child {
    margin-top: 40px;
    background: #191919;
    padding: 60px;
}
.panda_about_resume {
    margin-top: 0;
    z-index: 9;
}
.panda_about_resume section {
    border: none;
    text-align: center;
}
.panda_about_resume .panda_main {
    margin-top: 217px;
}
.panda_about_resume h5 {
    margin-top: 42px;
}
.panda_about_resume .panda_social_block {
    margin-bottom: 45px;
}
.panda_about_resume .panda_brands {
    padding-top: 9px;
    margin: 0 -15px;
}
.panda_about_resume .panda_brands p {
    padding: 0 17%;
}
.panda_about_resume .panda_brands ul {
    display: block;
    list-style: none;
    font-size: 0;
    margin: 0 -15px;
    margin-top: 39px;
}
.panda_about_resume .panda_brands ul li {
    display: inline-block;
}
.panda_about_resume .panda_brands ul li a {
    display: block;
    width: 270px;
    height: 270px;
    background: #191919;
    margin: 15px;
    font-size: 50px;
    color: #fff;
}
.panda_about_resume .panda_brands ul li a i {
    line-height: 270px;
    vertical-align: middle;
}
.panda_about_resume .panda_brands ul li a:hover {
    background: #a98b69;
    color: #fff;
}
.panda_about_resume .panda_resume_capabilities {
    text-align: left;
    margin: 0 -15px;
}
.panda_about_resume .panda_resume_capabilities h2 {
    margin-top: 28px;
}
.panda_about_resume .panda_resume_capabilities h6 {
    margin-left: -1px;
}
.panda_about_resume .panda_resume_capabilities p {
    margin-top: 26px;
    margin-bottom: 19px;
    letter-spacing: 0.07px;
}
.panda_about_resume .panda_view_works {
    position: relative;
}
.panda_about_resume .panda_view_works img {
    width: 100%;
    height: auto;
}
.panda_about_resume .panda_view_works .panda_center_block {
    position: absolute;
    width: 100%;
}
.panda_about_resume .panda_view_works .panda_center_block h5 {
    margin-bottom: 0;
    color: #fff;
}
.panda_about_resume .panda_view_works .panda_center_block h1 {
    margin-top: 24px;
    margin-bottom: 45px;
}
.panda_about_resume .panda_view_works .panda_center_block img {
    width: auto;
}
.panda_about_resume .panda_view_works .panda_center_block a {
    display: block;
}
.panda_about_resume .panda_view_works .panda_center_block a:hover {
    opacity: 0.75;
}
.panda_about_resume .panda_resume_blogs {
    text-align: left;
    padding: 90px 0 0 0;
}
.panda_about_resume .panda_resume_blogs img {
    width: 100%;
    height: auto;
    margin-bottom: 22px;
}
.panda_about_resume .panda_resume_blogs p {
    margin: 25px 0 55px 0;
}
.panda_about_resume .panda_resume_blogs time {
    font-size: 12px;
    color: #8c8c8c;
}
.panda_about_resume .panda_resume_blogs h4 {
    margin: 7px 0 0 -2px;
    line-height: 34px;
}
.panda_about_resume .panda_resume_blogs h4 a:hover {
    color: #a98b69;
}
.panda_about_resume .panda_resume_blogs .row p {
    margin-top: 17px;
}
.panda_about_resume .panda_resume_blogs .panda_center {
    text-align: center;
    margin-top: 40px;
}
.panda_about_resume .panda_resume_blogs .panda_center a {
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1.2px;
    background: #242628;
    padding: 14px 28px;
}
.panda_about_resume .panda_resume_blogs .panda_center a:hover {
    background: #a98b69;
}
.panda_about_resume .panda_subscribe {
    margin-top: 55px;
}
.panda_block_center {
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%);
}
.panda_about_studio {
    margin-top: 213px;
    text-align: center;
    z-index: 9;
}
.panda_about_studio section {
    border-bottom: none;
}
.panda_about_studio .panda_studio_welcome h2 {
    line-height: 49px;
}
.panda_about_studio .panda_studio_welcome .owl-carousel {
    margin-top: 50px;
}
.panda_about_studio .panda_studio_welcome .owl-carousel .owl-dots {
    position: relative;
    margin-top: -55px;
}
.panda_about_studio .panda_studio_services {
    text-align: left;
    padding: 0;
    padding-bottom: 90px;
}
.panda_about_studio .panda_studio_services h3 {
    margin-top: 90px;
    line-height: 38px;
    letter-spacing: -0.1px;
    margin-left: 0;
}
.panda_about_studio .panda_studio_services p {
    margin-left: 0;
    letter-spacing: 0.05px;
}
.panda_about_studio .panda_studio_services ul {
    list-style: none;
}
.panda_about_studio .panda_studio_services h5 {
    color: #fff;
    margin-left: 0;
    margin-top: 51px;
}
.panda_about_studio .panda_studio_services li {
    color: #d5d5d5;
    font-size: 15px;
    line-height: 32px;
}
.panda_about_studio .panda_studio_counters {
    background: #191919;
    padding-top: 98px;
    padding-bottom: 70px;
}
.panda_about_studio .panda_studio_counters .container {
    padding: 0 0 0 15px;
}
.panda_about_studio .panda_studio_counters .spincrement {
    font-size: 50px;
    color: #a98b69;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 1px;
}
.panda_about_studio .panda_studio_counters h5 {
    color: #fff;
    margin-top: 33px;
}
.panda_about_studio .panda_studio_works a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.panda_about_studio .panda_studio_works img {
    width: 100%;
    height: auto;
}
.panda_about_studio .panda_studio_works div {
    position: relative;
    height: auto;
    padding: 0;
    margin: 0;
}
.panda_about_studio .panda_studio_works p {
    margin: 0;
    margin-top: 2px;
}
.panda_about_studio .panda_studio_works h3 {
    margin: 0;
    margin-top: 5px;
}
.panda_about_studio .panda_studio_works .panda_block_hover {
    opacity: 0;
    position: absolute;
    height: 100%;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
.panda_about_studio .panda_studio_works a:hover .panda_block_hover {
    opacity: 1;
}
.panda_about_studio .panda_studio_team {
    text-align: left;
    margin-top: 88px;
    padding-bottom: 26px;
}
.panda_about_studio .panda_studio_team h2 {
    margin-left: -15px;
}
.panda_about_studio .panda_studio_team p {
    margin-left: -15px;
    margin-top: 26px;
    letter-spacing: 0.045px;
    margin-bottom: 55px;
}
.panda_about_studio .panda_studio_team img {
    width: 100%;
    height: auto;
}
.panda_about_studio .panda_studio_team .panda_studio_team_name {
    position: relative;
    display: block;
    width: 100%;
}
.panda_about_studio .panda_studio_team .container {
    padding: 0;
}
.panda_about_studio .panda_studio_team .owl-dots {
    display: none;
}
.panda_about_studio .panda_studio_team .owl-next {
    background: url("../img/arrow_right.png") no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 53.9%;
    right: 26.1%;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.panda_about_studio .panda_studio_team .owl-next:hover {
    opacity: 0.75;
}
.panda_about_studio .panda_studio_team .row {
    margin-left: -15px;
    margin-right: -15px;
}
.panda_about_studio .panda_studio_team .col-sm-4 {
    margin-bottom: 40px;
}
.panda_about_studio .panda_studio_team .panda_block_hover {
    padding-top: 32px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    opacity: 0;
}
.panda_about_studio .panda_studio_team .panda_block_hover a {
    display: inline-block;
}
.panda_about_studio .panda_studio_team .panda_block_hover a:hover {
    color: #fff;
}
.panda_about_studio .panda_studio_team .panda_block_hover .panda_name {
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 80.3%;
    letter-spacing: 2.6px;
}
.panda_about_studio .panda_studio_team .panda_block_hover .panda_prof {
    font-size: 12px;
    margin-top: 4px;
    margin-left: 2px;
}
.panda_about_studio .panda_studio_team .panda_block_hover ul {
    list-style: none;
}
.panda_about_studio .panda_studio_team .panda_block_hover ul li {
    display: block;
    line-height: 33px;
}
.panda_about_studio .panda_studio_team .panda_block_hover ul li a {
    display: block;
    width: 20px;
}
.panda_about_studio .panda_studio_team .panda_block_hover ul li a:hover {
    color: #fff;
    opacity: 0.75;
}
.panda_about_studio .panda_studio_team .panda_studio_team_name:hover .panda_block_hover {
    opacity: 1;
    cursor: pointer;
}
.panda_about_studio .panda_studio_team .panda_nav_right_block {
    background: #a98b69;
    position: relative;
}
.panda_about_studio .panda_studio_team .panda_nav_right_block .panda_block_hover {
    opacity: 1;
    padding-right: 72px;
}
.panda_about_studio .panda_studio_team .panda_nav_right_block .panda_block_hover a {
    margin-top: 5px;
}
.panda_about_studio .panda_studio_team .panda_nav_right_block .panda_block_hover a:hover {
    color: #fff;
    opacity: 0.6;
}
.panda_about_studio .panda_studio_team .panda_nav_right_block .panda_block_hover .panda_name {
    margin-top: 115.4%;
    font-size: 15px;
    letter-spacing: 1.2px;
}
.panda_about_studio .panda_subscribe {
    margin-top: 0;
}
.panda_about_studio .panda_subscribe button:hover {
    opacity: 0.5;
}
/* Blog */

.panda_blog_grid .container {
    padding: 0;
}
.panda_blog_grid .panda_main {
    display: block;
}
.panda_blog_grid .panda_posts {
    text-align: center;
    border: none;
}
.panda_blog_grid .panda_posts h5 {
    color: #a98b69;
    margin-top: 130px;
}
.panda_blog_grid .panda_posts h1 {
    margin-top: 25px;
    margin-bottom: 70px;
}
.panda_blog_grid .panda_posts div {
    position: relative;
    height: auto;
    padding: 0;
    margin: 0;
}
.panda_blog_grid .panda_posts img {
    width: 100%;
    height: auto;
}
.panda_blog_grid .panda_posts .panda_post_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 42px 50px 50px 50px;
    text-align: left;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.panda_blog_grid .panda_posts .panda_post_block ul {
    list-style: none;
    font-size: 0;
}
.panda_blog_grid .panda_posts .panda_post_block ul li {
    display: inline-block;
    font-size: 12px;
    margin-right: 30px;
}
.panda_blog_grid .panda_posts .panda_post_block h3 {
    margin: 2px 0 15px 0;
    line-height: 40px;
}
.panda_blog_grid .panda_posts .panda_post_block p {
    margin: 40px 0 0 0;
    opacity: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.panda_blog_grid .panda_posts .panda_post_block a {
    display: block;
    position: absolute;
    bottom: 52px;
    right: 50px;
    width: 21px;
    height: 21px;
}
.panda_blog_grid .panda_posts .panda_post_block a:hover {
    opacity: 0.75;
}
.panda_blog_grid .panda_posts .panda_post_block:hover {
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.panda_blog_grid .panda_posts .panda_post_block:hover p {
    margin-top: 10px;
    opacity: 1;
}
.panda_blog_grid .panda_posts .panda_post_block:hover a {
    right: 80px;
}
.panda_post_button {
    display: inline-block;
    background: #242628;
    width: 130px;
    height: 48px;
    line-height: 48px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1.1px;
    margin-top: 98px;
}
.panda_post_button:hover {
    background: #a98b69;
    color: #fff;
}
.panda_pagination {
    text-align: center;
}
.panda_pagination ul {
    list-style: none;
    font-size: 0;
    margin-top: 46px;
    margin-bottom: 0px;
}
.panda_pagination ul li {
    display: inline-block;
    font-size: 13px;
    margin: 0 6px;
}
.panda_pagination ul li a {
    display: inline-block;
}
.panda_pagination ul li a:hover {
    color: #a98b69;
}
.panda_pagination ul li:first-child {
    float: left;
    margin-left: 0;
    font-size: 11px;
}
.panda_pagination ul li:first-child a:last-child {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 20px;
    letter-spacing: 1px;
}
.panda_pagination ul li:last-child {
    float: right;
    margin-right: 0;
    font-size: 11px;
}
.panda_pagination ul li:last-child a:first-child {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 20px;
    letter-spacing: 1px;
}
.panda_blog_page1 {
    overflow-x: hidden;
}
.panda_blog_page1 .panda_instagram h5 {
    margin-top: 87px;
}
.panda_blog_listing .panda_main {
    margin-top: -82px;
}
.panda_blog_listing .panda_main .panda_content {
    float: none;
    position: relative;
    top: -4px;
}
.panda_blog_listing .panda_main .panda_content section {
    padding-bottom: 45px;
}
.panda_blog_listing .panda_sidebar {
    float: none;
}
.panda_blog_listing .panda_post_block img {
    width: 100%;
    height: auto;
}
.panda_blog_listing .panda_post_block ul {
    list-style: none;
    font-size: 0;
    margin-top: 45px;
}
.panda_blog_listing .panda_post_block ul li {
    display: inline-block;
    font-size: 12px;
    margin-right: 30px;
}
.panda_blog_listing .panda_post_block h2 {
    margin: 9px 0 29px 0;
    line-height: 50px;
}
.panda_blog_listing .panda_post_block p {
    font-size: 15px;
    color: #d5d5d5;
    margin-top: 34px;
}
.panda_blog_listing .panda_post_block .panda_reference {
    display: inline-block;
    float: none;
    text-align: left;
    margin-top: 29px;
}
.panda_blog_post h1 {
    margin: 8px 0 35px 0;
}
.panda_blog_post .panda_post_block .panda_dropcaps {
    margin: 0;
    padding: 22px 0 0 0;
    letter-spacing: 0.035px;
}
.panda_blog_post .panda_post_block .panda_text {
    margin-top: 22px;
}
.panda_blog_post .panda_listings {
    margin-top: 39px;
}
.panda_blog_post .panda_listings li {
    line-height: 22px;
    font-size: 15px;
    margin-bottom: 15px;
}
.panda_blog_post .panda_blockquotes {
    margin-top: 40px;
    margin-bottom: 42px;
}
.panda_blog_post .panda_blog_post_img {
    margin-top: 44px;
    background: #232323;
}
.panda_blog_post .panda_blog_post_img img {
    width: 100%;
    height: auto;
}
.panda_blog_post .panda_text_italic {
    text-align: center;
    font-style: italic;
    margin: 26px 0 40px 0;
}
.panda_blog_post .panda_blog_post_line {
    text-align: center;
    margin-bottom: 50px;
}
.panda_blog_post .panda_blog_post_line span {
    display: inline-block;
    width: 170px;
    height: 1px;
    background: #2a2a2a;
}
.panda_blog_post .panda_posts_button {
    list-style: none;
    font-size: 0;
    margin: 94px 0 53px 0;
}
.panda_blog_post .panda_posts_button li {
    display: inline-block;
}
.panda_blog_post .panda_posts_button li a {
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700px;
    background: #242628;
    height: 28px;
    padding: 0 10px;
    line-height: 28px;
    margin-right: 10px;
    letter-spacing: 1px;
}
.panda_blog_post .panda_posts_button li a:hover {
    background: #a98b69;
}
.panda_blog_post .panda_posts_button li:last-child {
    float: right;
    margin-right: -10px;
}
.panda_blog_post .panda_contact_form {
    padding: 0 15px;
    margin-top: 89px;
    margin-bottom: 5px;
}
.panda_blog_post .panda_contact_form input {
    height: auto;
    padding: 36px 0 14px 0;
}
.panda_blog_post .panda_contact_form .panda_contact_join {
    padding: 30px 0 75px 0;
}
.panda_blog_post .panda_contact_form .panda_reference {
    padding-left: 0;
}
time {
    font-size: 12px;
    color: #8c8c8c;
}
.panda_related_posts {
    margin-top: 126px;
}
.panda_related_posts h5 {
    margin-bottom: 37px;
}
.panda_related_posts time {
    font-size: 12px;
    color: #8c8c8c;
}
.panda_related_posts img {
    margin-bottom: 23px;
    width: 100%;
    height: auto;
}
.panda_related_posts h4 {
    margin-top: 7px;
    line-height: 35px;
}
.panda_related_posts p {
    margin-top: 15px;
}
.panda_comments {
    margin-top: 91px;
}
.panda_comments img {
    width: 72px;
    height: 72px;
    background: #191919;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin-top: 33px;
}
.panda_comments p {
    margin-top: 41px;
}
.panda_comments .panda_comment_author {
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    margin-top: 20px;
    letter-spacing: 1px;
}
.panda_comment {
    display: table;
    width: 100%;
    position: relative;
}
.panda_comment div:first-child {
    display: table-cell;
}
.panda_comment div:last-child {
    display: table-cell;
    padding-left: 30px;
    width: 100%;
}
.panda_comment a {
    float: right;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: -20px;
    color: #fff;
}
.panda_comment a:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    margin-top: -1px;
}
.panda_comment .panda_reference {
    padding-right: 0;
}
.panda_comment2 {
    padding-left: 100px;
    margin-top: 6px;
}
/* Carousel */

.panda_carousel_page {
    margin-top: 0;
}
.panda_carousel_page .panda_main {
    display: block;
    margin-top: 102px;
}
.panda_carousel_page .panda_main h5 {
    color: #a98b69;
}
.panda_carousel_page .panda_main .owl-dots {
    display: none;
}
.panda_carousel_page .panda_main section {
    border: none;
}
.panda_carousel_page .panda_main .owl-carousel2 {
    max-height: 650px;
    width: 100%;
}
.panda_carousel_page .panda_main .owl-carousel2 .owl-prev,
.panda_carousel_page .panda_main .owl-carousel2 .owl-next {
    width: 22px;
    height: 22px;
    background: transparent;
    margin: 0 38px;
    position: absolute;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 100;
}
.panda_carousel_page .panda_main .owl-carousel2 .owl-next {
    background: url("../img/arrow_right.png") no-repeat;
    background-position: center;
    background-size: cover;
    right: 0;
    width: 17px;
    height: 17px;
}
.panda_carousel_page .panda_main .owl-carousel2 .owl-next:hover {
    opacity: 0.8;
}
.panda_carousel_page .panda_main .owl-carousel2 .owl-prev {
    background: url("../img/arrow_left.png") no-repeat;
    background-position: center;
    background-size: cover;
    width: 17px;
    height: 17px;
}
.panda_carousel_page .panda_main .owl-carousel2 .owl-prev:hover {
    opacity: 0.8;
}
.panda_carousel_page .panda_main .owl-carousel2 img {
    width: 100%;
    height: auto;
}
.panda_carousel_page .panda_main .owl-carousel2 .panda_block_hover {
    opacity: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.panda_carousel_page .panda_main .owl-carousel2 .panda_block_hover p,
.panda_carousel_page .panda_main .owl-carousel2 .panda_block_hover h3 {
    position: absolute;
    bottom: 77px;
}
.panda_carousel_page .panda_main .owl-carousel2 .panda_block_hover h3 {
    bottom: 32px;
    margin-left: 0;
    font-weight: 900;
    letter-spacing: -0.2px;
}
.panda_carousel_page .panda_main .owl-carousel2 a:hover .panda_block_hover {
    opacity: 1;
}
.panda_carousel_page .panda_main .owl-carousel2 .row {
    margin: 0;
}
.panda_carousel_page .panda_main .owl-carousel2 .owl-item {
    max-height: 650px;
}
.panda_carousel_page .panda_main .panda_subscribe {
    margin-top: 66px;
}
.panda_carousel_page .panda_main .panda_subscribe #search {
    width: 235px;
}
.panda_carousel_page .panda_main .panda_subscribe button:hover {
    opacity: 0.5;
}
.panda_carousel_works {
    text-align: center;
    border: none;
}
.panda_carousel_works h1 {
    display: inline-block;
    width: 75%;
    margin-top: 23px;
    margin-bottom: 37px;
}
.panda_text_small {
    font-size: 12px;
    color: #8c8c8c;
    margin-top: 24px;
}
/* Work */

.panda_works_grid {
    text-align: center;
}
.panda_works_grid section {
    border: none;
}
.panda_works_grid .panda_post_button {
    margin-top: 69px;
}
.panda_works_grid h5 {
    color: #a98b69;
    margin-top: 132px;
}
.panda_works_grid h1 {
    margin-top: 24px;
}
.panda_works_grid img {
    width: 100%;
    height: auto;
}
.panda_works_grid .panda_isotope {
    margin-top: 81px;
    margin-right: -15px;
    margin-left: -15px;
}
.panda_works_grid .grid-item {
    width: 33.3%;
    padding: 15px;
}
.panda_works_grid .grid-item h4 {
    margin: 9px 0 8px -2px;
}
.panda_works_grid .grid-item h4 a:hover {
    color: #a98b69;
}
.panda_works_grid .grid-item .panda_text {
    margin: 18px 0 15px 0;
}
.panda_works_grid .grid {
    margin-top: 80px;
    text-align: left;
}
.panda_works_grid button {
    background: transparent;
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin: 0 19px;
    letter-spacing: 1.3px;
}
.panda_works_grid .is-checked {
    outline: none;
    border: none;
}
.panda_works_grid .is-checked:active {
    border: none;
    outline: none;
}
.panda_works_grid .panda_reference {
    float: none;
}
.panda_works_grid .panda_reference:after {
    display: none;
}
.panda_works_inside_page {
    margin-top: 0;
}
.panda_works_inside_page .panda_main {
    margin-top: 0;
    display: block;
}
.panda_works_inside_page .panda_instagram h5 {
    margin-top: 91px;
}
.panda_works_inside {
    margin-top: -82px;
}
.panda_works_inside img {
    width: 100%;
    height: auto;
}
.panda_works_inside h1 {
    margin-bottom: 37px;
}
.panda_works_inside p,
.panda_works_inside h4 {
    margin-left: 0;
}
.panda_works_inside section {
    margin-top: 50px;
}
.panda_works_inside .panda_post_block .panda_dropcaps {
    margin-bottom: -21px;
}
.panda_works_inside .panda_text_italic {
    margin-bottom: 42px;
}
.panda_works_inside .panda_posts_button {
    margin-top: 100px;
}
.panda_works_inside .panda_posts_button li a {
    letter-spacing: 1.2px;
}
.panda_works_inside article {
    margin-top: 58px;
}
.panda_works_inside article h4 a:hover {
    color: #a98b69;
}
.panda_works_inside .panda_text_small {
    margin-top: 2px;
}
.panda_reference {
    float: right;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: -20px;
    color: #fff;
    position: relative;
    overflow: hidden;
    padding: 0 4px;
}
.panda_reference:focus {
    color: #ffffff;
    text-decoration: none;
}
.panda_reference:before {
    content: "";
    display: block;
    position: absolute;
    width: 110%;
    height: 5px;
    background: rgba(255, 255, 255, 0.4);
    top: 7px;
    left: -120%;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.panda_reference:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    margin-top: -1px;
    margin-left: -1px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.panda_reference:hover {
    color: #fff;
}
.panda_reference:hover.panda_reference:before {
    left: -5%;
}
.panda_reference:hover.panda_reference:after {
    margin-left: -120%;
}
.panda_reference:active {
    color: #fff;
    text-decoration: none;
}
.panda_works_listing .grid-item {
    width: 100%;
    height: 500px;
    margin-bottom: 100px;
}
.panda_works_listing .grid-item .panda_reference {
    float: none;
    overflow-x: hidden;
    display: inline-block;
}
.panda_works_listing .grid-item .panda_reference:after {
    content: "";
    display: block;
}
.panda_works_listing .grid-item:last-child {
    margin-bottom: 45px;
}
.panda_works_listing img {
    width: 670px;
    height: 500px;
    float: left;
    margin-right: 130px;
}
.panda_works_listing .panda_text_small {
    margin-top: 150px;
}
.panda_works_listing .panda_reference {
    float: left;
    margin-top: 14px;
}
.panda_works_listing .grid-item-right img {
    float: right;
    margin: 0 0 0 130px;
}
.panda_works_listing .panda_reference {
    float: none;
    overflow-x: hidden;
    display: inline-block;
}
.panda_works_listing .panda_reference:after {
    content: "";
    display: none;
}
.panda_works_packary .panda_center_block {
    padding: 0;
    text-align: center;
}
.panda_works_packary section {
    padding: 0;
}
.panda_works_packary .panda_isotope {
    margin-right: 0;
    margin-left: 0;
}
.panda_works_packary .grid1 {
    margin-top: 94px;
    margin-bottom: 31px;
}
.panda_works_packary .grid1 img {
    width: 100%;
    height: auto;
}
.panda_works_packary .grid-item {
    width: 25%;
    padding: 0;
    border: none;
}
.panda_works_packary .grid-item--width2,
.panda_works_packary .grid-item--height2 {
    width: 50%;
}
.panda_works_packary .panda_block_hover {
    opacity: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.panda_works_packary a:hover .panda_block_hover {
    opacity: 1;
}
.panda_works_packary .panda_reference {
    float: none;
    overflow-x: hidden;
    display: inline-block;
    padding: 0 4px;
}
.panda_works_packary .panda_reference:after {
    content: "";
    display: none;
}
.panda_works_page .panda_main {
    display: block;
    margin-top: -82px;
}
.panda_portfolio_listing_cont.view_type_full_2 .panda_portfolio_cont .panda_portfolio_category,
.panda_portfolio_listing_cont.view_type_full_2 .panda_portfolio_cont .panda_portfolio_category a,
.panda_portfolio_listing_cont.view_type_full_2 .panda_portfolio_cont .panda_read_more_button {
    color: #ffffff;
}
.panda_portfolio_listing_cont.view_type_full_2 .panda_portfolio_cont .panda_reference {
    float: none;
    display: inline-block;
    margin-top: 37px;
}
.panda_portfolio_listing_cont.view_type_full_2 {
    opacity: 0;
    position: fixed;
    left: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.panda_portfolio_listing_cont.view_type_full_2 .panda_thumbnails_container,
.panda_portfolio_listing_cont.view_type_full_2 .panda_portfolio_content_container {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
}
.panda_portfolio_listing_cont.view_type_full_2 .panda_thumbnails_container {
    right: 0;
}
.panda_portfolio_listing_cont.view_type_full_2 .panda_portfolio_content_container {
    left: 0;
}
.panda_portfolio_listing_cont.view_type_full_2 .panda_portfolio_cont_item {
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.panda_portfolio_listing_cont.view_type_full_2 .panda_portfolio_cont_item.current_item {
    opacity: 1;
}
.panda_portfolio_listing_cont.view_type_full_2 .panda_number_cont {
    width: 100%;
    opacity: 0.02;
    font-size: 500px;
    line-height: 500px;
    letter-spacing: 0;
    font-weight: 700;
    font-style: italic;
    color: #ffffff;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;
}
.panda_portfolio_listing_cont.view_type_full_2 .panda_portfolio_cont {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 15;
    opacity: 1;
    left: auto;
    color: #ffffff;
}
.panda_portfolio_listing_cont.view_type_full_2 .panda_portfolio_cont .panda_portfolio_category {
    margin-bottom: 18px;
}
.panda_portfolio_listing_cont.view_type_full_2 .panda_portfolio_cont .panda_portfolio_category a:hover {
    opacity: 0.5;
}
.panda_portfolio_listing_cont.view_type_full_2 .panda_portfolio_cont .panda_portfolio_title {
    font-size: 72px;
    line-height: 86px;
    padding: 0 40px;
    margin: 0;
}
.panda_portfolio_listing_cont.view_type_full_2 .panda_portfolio_cont .panda_read_more_button {
    letter-spacing: 1px;
}
.panda_portfolio_listing_cont.view_type_full_2 .panda_info_scroll {
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 97px;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 100;
}
.panda_portfolio_listing_cont.view_type_full_2 .panda_info_scroll:after {
    content: "";
    width: 1px;
    height: 100%;
    background: #ffffff;
    opacity: 0.5;
    position: absolute;
    top: 31px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.panda_portfolio_listing_cont.view_type_full_2 .panda_triggers_cont {
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: 10;
}
.panda_triggers_cont a {
    display: block;
    border-bottom: solid 1px rgba(255,
    255,
    255,
    0.5);
    position: relative;
}
.panda_triggers_cont a:after {
    content: "";
    width: 5px;
    height: 100%;
    opacity: 0;
    position: absolute;
    background: #a98b69;
    top: 0;
    left: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.panda_triggers_cont a.current_item:after {
    opacity: 1;
}
.panda_triggers_cont a span {
    display: block;
    padding-right: 15px;
    opacity: 0;
    font-size: 13px;
    line-height: 13px;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(-100%,
    -50%);
    -ms-transform: translate(-100%,
    -50%);
    transform: translate(-100%,
    -50%);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.panda_triggers_cont a:hover span {
    opacity: 1;
}
/* Ribbon */

.panda_ribbon {
    position: relative;
    margin-top: -45px;
}
.panda_ribbon img {
    width: 100%;
    height: 100%;
}
.panda_ribbon .panda_ribbon_slider {
    height: 100%;
}
.panda_ribbon .panda_ribbon_slider div {
    position: relative;
}
.panda_ribbon .panda_ribbon_slider .slick-slide {
    margin: 2.5%;
    outline: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.panda_ribbon .panda_ribbon_slider .slick-slide .panda_block_hover {
    opacity: 0;
}
.panda_ribbon .panda_ribbon_slider .slick-prev {
    left: 23%;
    background: url("../img/arrow_left.png") no-repeat;
    background-position: center;
    background-size: cover;
    width: 17px;
    height: 17px;
    z-index: 10;
}
.panda_ribbon .panda_ribbon_slider .slick-prev:hover {
    opacity: 0.5;
}
.panda_ribbon .panda_ribbon_slider .slick-prev:before {
    content: "";
    display: none;
}
.panda_ribbon .panda_ribbon_slider .slick-next {
    right: 23%;
    width: 17px;
    height: 17px;
    background: url("../img/arrow_right.png") no-repeat;
    background-position: center;
    background-size: cover;
}
.panda_ribbon .panda_ribbon_slider .slick-next:hover {
    opacity: 0.5;
}
.panda_ribbon .panda_ribbon_slider .slick-next:before {
    content: "";
    display: none;
    z-index: 10;
}
.panda_ribbon .panda_ribbon_slider .slick-center {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}
.panda_ribbon .panda_ribbon_slider .slick-center .panda_block_hover {
    opacity: 1;
}
.panda_ribbon .panda_ribbon_slider .slick-center .panda_block_hover p,
.panda_ribbon .panda_ribbon_slider .slick-center .panda_block_hover h1,
.panda_ribbon .panda_ribbon_slider .slick-center .panda_block_hover .panda_reference {
    position: absolute;
    -webkit-transform: scale(0.68);
    -ms-transform: scale(0.68);
    transform: scale(0.68);
}
.panda_ribbon .panda_ribbon_slider .slick-center .panda_block_hover .panda_reference {
    bottom: 30px;
    left: 20px;
}
.panda_ribbon .panda_ribbon_slider .slick-center .panda_block_hover h1 {
    bottom: 34px;
    left: -31px;
    letter-spacing: -0.5px;
}
.panda_ribbon .panda_ribbon_slider .slick-center .panda_block_hover p {
    bottom: 107px;
    left: 14px;
}
.panda_ribbon .panda_ribbon_slider .slick-center .panda_block_hover a:hover {
    color: #fff;
}
.panda_ribbon .panda_ribbon_slider .panda_block_hover {
    opacity: 0;
    position: absolute;
    height: 100%;
    background: rgba(0,
    0,
    0,
    0.3);
}
.panda_ribbon .panda_ribbon_slider .panda_reference {
    float: none;
    display: inline-block;
    outline: none;
}
.panda_ribbon .panda_ribbon_slider .panda_reference:focus {
    color: #fff;
    text-decoration: none;
}
/* Sharing */

.panda_sharing_popup {
    padding-bottom: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 50000;
}
.panda_posts_button .panda_sharing .panda_sharing_popup a {
    width: 230px;
    height: 230px;
    display: inline-block;
    font-size: 35px;
    line-height: 230px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    z-index: 5;
}
.panda_posts_button .panda_sharing .panda_sharing_popup a:hover {
    color: #ffffff;
}
.panda_sharing_popup.active {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.panda_sharing_popup_overlay {
    width: 120%;
    height: 110%;
    background: rgba(18,
    18,
    18,
    0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.panda_sharing_popup_close {
    width: 100%;
    height: 100%;
    cursor: url("../img/close.png"),
    crosshair;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.panda_sharing_url_cont {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 5;
}
.panda_sharing_url_title {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 40px;
}
.panda_title_default {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    z-index: 5;
}
.panda_title_default,
.panda_title_copied {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.panda_title_copied {
    display: none;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
.panda_title_default.inactive {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
.panda_title_copied.active {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    color: #d5d5d5;
}
.panda_sharing_form {
    display: inline-block;
    border-bottom: solid 1px rgba(255,
    255,
    255,
    0.1);
    padding-bottom: 10px;
}
.panda_sharing_url_cont {
    color: #d5d5d5;
    letter-spacing: 2px;
    font-size: 15px;
}
.panda_sharing_url_cont input {
    width: 435px;
    display: inline-block;
    font-size: 13px;
    letter-spacing: 0;
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
}
.panda_sharing_url_cont button {
    display: inline-block;
    width: 30px;
    background: transparent;
    border: none;
    font-size: 11px;
    outline: none;
}
.panda_sharing_url_cont button:hover {
    color: #a98b69;
}
.panda_sharing_url_cont button:focus {
    color: #a98b69;
}
.panda_sharing_url_cont button:active {
    color: #a98b69;
}
.panda_sharing_url_button,
.panda_sharing_url_button:hover {
    background: transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.panda_share_facebook {
    top: 5.55%;
    left: 25.16%;
}
.panda_share_twitter {
    top: 13.8%;
    left: 52.08%;
}
.panda_share_google_plus {
    top: 32.13%;
    left: 73.59%;
}
.panda_share_pinterest {
    top: 30%;
    left: 12.34%;
}
.panda_share_vk {
    bottom: 8.55%;
    left: 31.67%;
}
.panda_share_tumblr {
    bottom: 18.15%;
    left: 58.54%;
}
/* Home */

.panda_home_page {
    height: 100vh;
}
.panda_home_page header {
    z-index: 12;
}
.panda_home_page header .mobile_menu {
    background: #121212;
    opacity: 0.8;
}
.panda_home_page .mobile_header {
    z-index: 12;
}
.panda_home_page .panda_reference {
    float: left;
    margin-top: 2px;
    margin-bottom: 3px;
}
.panda_home_page .mobile_menu_wrapper,
.panda_home_page .mobile_menu {
    background: transparent;
    z-index: 12;
}
.panda_portfolio_listing_cont.view_type_full {
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
.panda_portfolio_listing_cont.view_type_full .panda_thumbnails_container,
.panda_portfolio_listing_cont.view_type_full .panda_portfolio_content_container {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 5;
}
.panda_portfolio_listing_cont.view_type_full .panda_thumbnails_container {
    overflow: hidden;
}
.panda_portfolio_listing_cont.view_type_full .panda_thumbnails_container.action {
    -webkit-transform: scale(0.5,
    0.57);
    -ms-transform: scale(0.5,
    0.57);
    transform: scale(0.5,
    0.57);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
.panda_portfolio_listing_cont.view_type_full .panda_portfolio_content_container {
    z-index: 10;
}
.panda_thumbnails_container .panda_image_cont {
    width: 100%;
    height: 100%;
    opacity: 0;
    background-size: cover !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.panda_thumbnails_container .panda_image_cont.current_item {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.panda_thumbnails_container .panda_image_cont.next_item {
    opacity: 1;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}
.panda_thumbnails_container .panda_image_cont.prev_item {
    opacity: 1;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.panda_thumbnails_container .panda_thumb_overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,
    0,
    0,
    0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.panda_portfolio_content_container .panda_portfolio_content_wrapper {
    width: 100%;
    height: 100%;
}
.panda_portfolio_content_container .panda_portfolio_cont.current_item {
    opacity: 1;
    z-index: 5;
}
.panda_portfolio_content_container .panda_portfolio_navigation {
    position: absolute;
    bottom: 8.9%;
    left: 18.7%;
    z-index: 10;
}
.panda_portfolio_cont {
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all 0.5s;
    z-index: 1;
    left: 19.43%;
}
.panda_portfolio_listing_cont.view_type_full .panda_portfolio_cont.panda_portfolio_category,
.panda_portfolio_listing_cont.view_type_full .panda_portfolio_cont.panda_portfolio_category a,
.panda_portfolio_listing_cont.view_type_full .panda_portfolio_cont.panda_portfolio_title,
.panda_portfolio_listing_cont.view_type_full .panda_portfolio_cont.panda_read_more_button {
    color: #ffffff;
}
.panda_portfolio_listing_cont.view_type_full .panda_portfolio_cont .panda_portfolio_category a:hover {
    color: #a98b69;
}
.panda_portfolio_listing_cont.view_type_full .panda_portfolio_cont .panda_portfolio_category {
    margin-bottom: 24px;
    margin-top: 0;
    color: #fff;
}
.panda_portfolio_listing_cont.view_type_full .panda_portfolio_cont .panda_portfolio_title {
    font-size: 72px;
    line-height: 72px;
    margin-top: 20px;
    margin-bottom: 43px;
    margin-left: -3px;
}
.panda_portfolio_listing_cont.view_type_full .panda_portfolio_cont .panda_reference {
    margin-left: -3px;
}
.panda_prev_nav_button,
.panda_next_nav_button {
    width: 20px;
    height: 19px;
    display: inline-block;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.panda_prev_nav_button {
    margin-left: 14px;
    margin-right: 14px;
    background: url("../img/arrow_left.png") no-repeat center;
    background-size: 20px 19px;
}
.panda_next_nav_button {
    margin-right: 14px;
    margin-left: 14px;
    background: url("../img/arrow_right.png") no-repeat center;
    background-size: 20px 19px;
}
.panda_prev_nav_button:hover,
.panda_next_nav_button:hover {
    opacity: 0.8;
}
/*Retina*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
    .logotype-retina {
        display: block;
        width: 75px;
        height: 41px;
    }
    .logotype {
        display: none;
    }
}
/*Responsive*/

@media only screen and (max-width: 1919px) {
    .panda_item {
        position: relative;
    }
    .panda_item .panda_header_title p {
        font-size: 17em;
    }
}
@media only screen and (max-width: 1649px) {
    .panda_item {
        position: relative;
    }
    .panda_item .panda_header_title p {
        font-size: 14em;
    }
    .panda_scroll {
        left: 48.2%;
    }
    .panda_ribbon .panda_ribbon_slider .slick-slide {
        height: auto;
    }
}
@media only screen and (max-width: 1366px) {
    .panda_item {
        position: relative;
    }
    .panda_item .panda_header_title p {
        font-size: 10em;
    }
    .panda_item .panda_header_title h1 {
        font-size: 50px;
    }
    .panda_ribbon .panda_ribbon_slider .slick-slide .panda_block_hover {
        padding: 20px;
    }
    .panda_ribbon .panda_ribbon_slider .slick-slide .panda_block_hover h1 {
        font-size: 38px;
        left: -20px;
    }
    .panda_share li a {
        width: 200px;
        height: 200px;
        line-height: 200px;
    }
}
@media only screen and (max-width: 1233px) {
    .progressbar {
        width: 570px;
    }
    .panda_instagram ul {
        margin-bottom: 100px;
    }
    .panda_instagram ul li {
        width: 33%;
        margin-bottom: 30px;
    }
    .panda_instagram ul li:nth-child(even) {
        padding-top: 70px;
    }
    .panda_about_personal .panda_center_block {
        padding: 0 35px;
    }
    .panda_view_works .panda_center_block h1 {
        font-size: 40px;
    }
    .panda_share li:nth-child(3) {
        left: 5%;
    }
    .panda_share li:nth-child(4) {
        right: 5%;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #panda_post_1 .panda_contacts div:last-child {
        margin-top: 40px;
        padding-top: 0px;
    }
    #panda_post_1 .panda_contacts div:last-child h6 {
        margin-top: 66px;
        margin-bottom: 34px;
    }
    .panda_coming_soon #CDT .number-wrapper {
        margin: 7px 55px;
    }
    .panda_scroll {
        left: 47.5%;
    }
    .panda_about .panda_contacts div:last-child {
        margin-top: 40px;
        padding-top: 0px;
        padding-bottom: 24px;
    }
    .panda_about .panda_contacts div:last-child h5 {
        margin-top: 66px;
        margin-bottom: 34px;
    }
    .panda_about .panda_team .owl-carousel ul li {
        margin: 15px 45px;
    }
    .panda_about .panda_team .owl-carousel ul li:nth-child(n+4) {
        z-index: 3;
    }
    .panda_about .panda_team .owl-carousel ul li:last-child {
        z-index: 3;
        margin-top: 15px;
    }
    .panda_about .panda_testimonials .panda_testi_content {
        padding-left: 30%;
    }
    .panda_shifted_bloks div:last-child {
        margin-top: 40px;
        background: #191919;
        padding: 30px;
    }
    .panda_shifted_bloks h5 {
        margin-top: 20px;
    }
    .panda_shifted_bloks ul {
        margin-top: 36px;
    }
    .progressbar {
        width: 570px;
    }
    .panda_about_studio .panda_studio_team .owl-next {
        top: 54.5%;
        right: 24.6%;
    }
    .panda_about_studio .panda_studio_team .panda_nav_right_block .panda_block_hover .panda_name {
        margin-top: 60%;
    }
    .panda_works_listing img {
        margin-right: 20px;
    }
    .panda_works_listing .grid-item-right img {
        margin-left: 20px;
    }
    .panda_posts_button .panda_sharing .panda_sharing_popup a {
        width: 180px;
        height: 180px;
        line-height: 180px;
    }
    .panda_portfolio_listing_cont.view_type_full_2 .panda_number_cont{
        font-size: 450px;
        line-height: 450px;
    }
}
@media only screen and (max-width: 991px) {
    .panda_main {
        display: block;
    }
    .panda_content {
        display: block;
        padding-right: 5px;
    }
    .panda_sidebar {
        display: block;
        margin-top: 50px;
        padding: 80px 40px;
    }
    .panda_sidebar .panda_tags ul {
        text-align: center;
    }
    .panda_sidebar .panda_banner {
        margin-bottom: 30px;
    }
    .panda_sidebar:after,
    .panda_sidebar:before {
        display: none;
    }
    .panda_listings ol {
        margin-bottom: 30px;
    }
    .panda_contact li small {
        margin: 0 15px;
    }
    .panda_coming_soon #CDT .number-wrapper {
        margin: 7px 38px;
    }
    .panda_coming_soon #CDT .number {
        font-size: 100px;
        line-height: 150px;
    }
    .panda_item {
        position: relative;
    }
    .panda_item .panda_header_title p {
        font-size: 8em;
    }
    .panda_item .panda_header_title h1 {
        font-size: 40px;
    }
    .owl-prev,
    .owl-next {
        display: none;
    }
    .panda_scroll {
        display: none;
    }
    .panda_scroll_line {
        display: none;
    }
    .panda_about {
        margin-top: -40px;
    }
    .panda_about .panda_testimonials .panda_testi_content {
        padding-left: 40%;
    }
    .panda_about .panda_team .owl-carousel ul li {
        margin: 15px 45px;
    }
    .panda_about .panda_team .owl-carousel ul li:nth-child(n+4) {
        z-index: 3;
        margin-top: 15px;
    }
    .panda_about_studio {
        margin-top: 120px;
    }
    .panda_about_studio .panda_studio_team .panda_nav_right_block .panda_block_hover {
        padding-right: 20px;
    }
    .panda_about_studio .panda_studio_team .panda_nav_right_block .panda_block_hover .panda_name {
        margin-top: 25%;
    }
    .panda_works_listing img {
        float: none;
        margin: 0;
        width: 100%;
        height: auto;
    }
    .panda_works_listing .grid-item-right img {
        margin: 0;
        float: none;
    }
    .panda_works_listing .grid-item {
        height: auto;
    }
    .panda_works_listing .panda_text_small {
        margin-top: 30px;
    }
    .panda_posts_button .panda_sharing .panda_sharing_popup a {
        width: 150px;
        height: 150px;
        line-height: 150px;
    }
    .panda_portfolio_listing_cont.view_type_full_2 .panda_portfolio_cont .panda_portfolio_title {
        font-size: 60px;
        line-height: 70px;
    }
    .panda_portfolio_listing_cont.view_type_full_2 .panda_number_cont{
        font-size: 350px;
        line-height: 350px;
    }
}
@media only screen and (max-width: 767px) {
    .panda_contact_map {
        padding: 0 15px;
    }
    .panda_contact_form {
        padding: 0 15px;
    }
    .panda_def_header {
        display: none;
    }
    header {
        height: auto;
        position: static;
    }
    .header_fw {
        position: static;
    }
    .mobile_header {
        display: block;
    }
    .panda_content {
        margin-top: 0;
        padding-top: 0;
    }
    .mobile_menu_wrapper {
        position: relative;
    }
    .mobile_menu_wrapper .mobile_menu {
        padding: 0 30px;
    }
    .mobile_menu_wrapper .mobile_menu .sub-menu {
        display: block;
        position: static;
        padding: 0px;
        background-color: inherit;
    }
    .panda_contact li {
        display: block;
        margin-bottom: 10px;
    }
    .panda_instagram ul li {
        width: 49%;
        margin-bottom: 30px;
    }
    .panda_coming_soon .panda_def_header {
        display: block;
    }
    .panda_coming_soon .panda_coming_text h1 {
        font-size: 40px;
    }
    .panda_coming_soon #CDT .number-wrapper {
        margin: 7px 35px;
    }
    .panda_coming_soon #CDT .number {
        font-size: 80px;
        line-height: 150px;
    }
    .panda_item {
        position: relative;
    }
    .panda_item .panda_header_title p {
        font-size: 6em;
    }
    .panda_item .panda_header_title h1 {
        font-size: 35px;
    }
    .panda_about_page .mobile_header {
        text-align: left;
    }
    .panda_about {
        margin-top: 0;
    }
    .panda_about .panda_capabilities {
        margin: 0;
    }
    .panda_about .panda_contacts div:last-child {
        padding-bottom: 60px;
    }
    .panda_about .panda_contacts div:last-child h5 {
        margin-top: 40px;
    }
    .panda_about .panda_testimonials .panda_testi_content {
        padding-left: 45%;
    }
    footer .panda_footer_contact li {
        display: block;
        margin: 5px 0;
    }
    .panda_about_resume .panda_main {
        margin-top: 100px;
    }
    .panda_about_resume .panda_resume_capabilities {
        padding: 0 15px;
    }
    .panda_about_resume .panda_view_works .panda_center_block h5 {
        margin-top: 0;
    }
    .panda_about_resume .panda_view_works .panda_center_block h1 {
        font-size: 30px;
        margin: 20px auto;
    }
    .panda_about_resume .panda_resume_blogs {
        padding: 0 15px;
    }
    .panda_about_page .panda_subscribe {
        padding: 0 15px;
    }
    .panda_about_page .panda_subscribe input {
        width: 60%;
    }
    .panda_about_studio .panda_studio_services {
        padding: 0 15px 15px 15px;
    }
    .panda_about_studio .panda_studio_counters .col-sm-3 {
        margin-bottom: 50px;
    }
    .panda_about_studio .panda_studio_team {
        padding: 0 45px;
    }
    .panda_blog_listing .panda_main {
        margin-top: 0px;
    }
    .panda_typography .panda_main {
        margin-top: 0px;
    }
    .panda_works_grid .button {
        margin: 10px 10px;
    }
    .panda_works_inside {
        margin-top: 0;
    }
    .panda_works_inside_page {
        padding: 0 15px;
    }
    .panda_works_listing .container {
        padding: 0 15px;
    }
    .panda_works_packary .panda_block_hover {
        padding: 5px;
    }
    .panda_works_packary h3 {
        font-size: 20px;
        margin-top: 10px;
    }
    .panda_works_page {
        margin-top: 20px;
    }
    .panda_works_page .btn_mobile_menu {
        z-index: 4;
    }
    .panda_portfolio_listing_cont.view_type_full_2 .panda_portfolio_cont .panda_portfolio_title {
        font-size: 50px;
        line-height: 60px;
    }
    .panda_works_grid .container {
        padding: 0 15px;
    }
    .panda_works_grid .panda_isotope {
        margin: 81px 0 0 0;
    }
    .panda_carousel_page {
        padding: 0 15px;
    }
    .panda_portfolio_listing_cont.view_type_full_2 .panda_number_cont{
        font-size: 300px;
        line-height: 300px;
    }
}
@media only screen and (max-width: 650px) {
    .panda_coming_soon .panda_coming_text h1 {
        font-size: 35px;
    }
    .panda_coming_soon #CDT .number-wrapper {
        margin: 7px 19px;
    }
    .panda_coming_soon #CDT .number {
        font-size: 70px;
        line-height: 120px;
    }
    .panda_item {
        position: relative;
    }
    .panda_item .panda_header_title p {
        font-size: 5em;
    }
    .panda_item .panda_header_title h1 {
        font-size: 32px;
    }
    .panda_ribbon .panda_ribbon_slider .slick-slide .panda_block_hover h1 {
        font-size: 32px;
        left: -10px;
    }
    .panda_posts_button .panda_sharing .panda_sharing_popup a {
        width: 120px;
        height: 120px;
        line-height: 120px;
    }
    .panda_portfolio_listing_cont.view_type_full_2 .panda_number_cont{
        font-size: 220px;
        line-height: 220px;
    }
}
@media only screen and (max-width: 480px) {
    .panda_instagram ul li {
        width: 100%;
    }
    .panda_instagram ul li:nth-child(even) {
        padding-top: 0;
        padding-right: 70px;
    }
    .panda_instagram ul li:nth-child(odd) {
        padding-top: 0;
        padding-left: 70px;
    }
    .panda_coming_soon #CDT .number-wrapper {
        margin: 7px 18px;
    }
    .panda_coming_soon #CDT .number {
        font-size: 55px;
    }
    .panda_coming_soon .panda_coming_email form {
        width: 90%;
    }
    .panda_about_resume .panda_view_works .panda_center_block h1 {
        font-size: 20px;
        margin: 10px auto;
    }
    .panda_sharing_url_cont input {
        width: 300px;
    }
    .panda_posts_button .panda_sharing .panda_sharing_popup a {
        width: 100px;
        height: 100px;
        line-height: 100px;
    }
    .panda_portfolio_listing_cont.view_type_full_2 .panda_number_cont{
        font-size: 150px;
        line-height: 150px;
    }
    footer .panda_footer_contact li:before{
        content: none;
    }
}
@media only screen and (max-width: 414px) {
    .panda_portfolio_listing_cont.view_type_full_2 .panda_portfolio_cont .panda_portfolio_title {
        padding: 0 5px;
        font-size: 35px;
        line-height: 40px;    
    }
    .panda_portfolio_listing_cont.view_type_full_2 .panda_portfolio_cont .panda_portfolio_category{
        padding: 0 5px;
    }
    .panda_portfolio_listing_cont.view_type_full_2 .panda_info_scroll{
        bottom: -25px;
    }
    .panda_portfolio_listing_cont.view_type_full_2 .panda_number_cont{
        font-size: 130px;
        line-height: 130px;
    }
}
@media only screen and (max-height: 750px) {
    .panda_about_personal .panda_center_block h1 {
        margin: 5px 0;
        font-size: 40px;
    } 
    .panda_about_personal .panda_center_block h5 {
        padding-top: 30px;
    } 
    .panda_about_personal .panda_social_block {
        margin-top: 40px;
    }
}
@-webkit-keyframes panda_team_anim {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes panda_team_anim {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}


/*
1.WRAPPER
2.SERVICES CAROUSEL
3.SERVICES CAROUSEL ITEMS

*/
/* --------------------------------
WRAPPER
-------------------------------- */
.services {
    height: 100vh;
    padding: 0 5% 0 5%;
}

.services:after {
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    right: 0;
    content: "";
    position: absolute;
    z-index: -2;
}

/* --------------------------------
SERVICES CAROUSEL
-------------------------------- */
.owl-carousel,
.owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot,
.owl-carousel-cont .owl-nav .owl-prev,
.owl-carousel-cont .owl-nav .owl-next,
.owl-carousel-cont {
    display: inline-block;
    opacity: 0;
}

.owl-nav {
    width: 40px;
    float: left;
    color: #FFFFFF;
}

.owl-nav .owl-next {
    float: right;
    font-size: 24px;
    line-height: 22px;
    position: relative;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
}

.slick-next:after, .owl-nav .owl-next:hover {
    margin-right: -4px;
    color: #FFFFFF;
    background-color: transparent;
}

.slick-next:hover:after, .owl-nav .owl-next:hover:after {
    width: 15px;
    right: 1px;
}

.slick-next:after, .owl-nav .owl-next:after {
    background: #FFFFFF;
    height: 1px;
    width: 0;
    right: 0;
    top: 50%;
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-transition: 0.3s ease 0s;
    -moz-transition: 0.3s ease 0s;
    -ms-transition: 0.3s ease 0s;
    transition: 0.3s ease 0s;
}

.owl-nav .owl-prev {
    float: left;
    font-size: 24px;
    line-height: 22px;
    position: relative;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
}

.slick-prev:after, .owl-nav .owl-prev:hover {
    margin-left: -4px;
    color: #FFFFFF;
    background-color: transparent;
}

.slick-prev:hover:after, .owl-nav .owl-prev:hover:after {
    width: 15px;
    left: 1px;
}

.slick-prev:after, .owl-nav .owl-prev:after {
    background: #FFFFFF;
    height: 1px;
    width: 0;
    left: 0;
    top: 50%;
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-transition: 0.3s ease 0s;
    -moz-transition: 0.3s ease 0s;
    -ms-transition: 0.3s ease 0s;
    transition: 0.3s ease 0s;
}

/* --------------------------------
SERVICES CAROUSEL ITEMS
-------------------------------- */
.slick-carousel{
    margin-top: 7em;
}

.services .item {
    position: relative;
    margin: 0 1.7vw;
    width: 19vw;
    height: 18vw;
    text-align: center;
    vertical-align: middle;
    display: flex !important;
    align-items: center;
}

.services .item .content{
    margin-top: -10%;
    width: 100%;
    margin-left: 8%;
}

.services .hexagon{
    position: absolute;
    width: 20vw;
    height: 18vw;
    z-index: -1;
    outline: 0;
}

.services .hexagon .center{
    float: left;
    width: 10vw;
    height: 18vw;
    background-color: #191919;
    position: absolute;
    left: 5vw;

}

.services .hexagon .left {
    position: absolute;
    left: 0;
    float: left;
    border-right: 5vw solid #191919;
    border-top: 9vw solid transparent;
    border-bottom: 9vw solid transparent;
}

.services .hexagon .right {
    float: left;
    border-left: 5vw solid #191919;
    border-top: 9vw solid transparent;
    border-bottom: 9vw solid transparent;
    position: absolute;
    right: 0;
}

.services .slick-current .hexagon .center{
    background-color: #131624;
}
.services .slick-current .hexagon .left{
    border-right-color: #131624;
}
.services .slick-current .hexagon .right{
    border-left-color: #131624;
}

.services .slick-prev ,
.services .slick-next{
    text-align: center;
}
.services .slick-next:hover:after{
    right: 50%;
}
.services .slick-prev:hover:after{
    left: 50%;
}

.services .ion-ios-arrow-left:before ,
.services .ion-ios-arrow-right:before{
    color: #FFF;
    font-size: 25px;
    line-height: 1.7;
}
.services a.slick-slide{
    color: #B9B9B9;
    text-decoration: none;
}
.services a.slick-slide:active{
    text-decoration: underline;
}
.services .slick-prev,
.services .slick-next{
    position: absolute;
    top: 44%;
    z-index: 10;
}
.services .slick-prev{
    left: 9vw;
}
.services .slick-next{
    right: 9vw;
}

.services .item i {
    font-size: 35px;
    color: #FFFFFF;
}

.services .item h1 {
    font: 14px "Oswald", sans-serif;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 15px 0 0 0;
    padding: 0;
    text-decoration: underline;
}

.services .item p {
    margin: 10px 0 0 0;
    font: 14px "Open Sans", sans-serif;
    font-weight: 300;
    color: #B9B9B9;
}


.services {
    height: 100%;
    min-height: 320px;
}

.services .slick-carousel a{
    display: inline-block;
}

.services .slick-dots{
    display: none;
}

.services:after{
    content: none;
}
/*
Template Name: TRIME. - Creative Comin Soon OnePage HTML Template
Author: GuroThemes
Author URI: https://themeforest.net/user/gurothemes
Version: 1.0
*/
/* --------------------------------
RESPONSIVE
-------------------------------- */

@media only screen and (max-width: 1024px) {
  .services {
    padding: 0 10%;
  }
  .services .slick-prev{
      left: 25.5vw;
  }
  .services .slick-next{
      right: 25.5vw;
  }
  .services .item p {
    font-size: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .u\:dn\@sm-d{display: none !important;}
  .services .item{
    width: 30vw;
    height: 30vw;
  }
  .services .hexagon{
    width: 30vw;
    height: 28vw;
  }
  .services .hexagon .left{
    border-right-width: 7.5vw;
    border-top-width: 14vw;
    border-bottom-width: 14vw;
  }
  .services .hexagon .center{
    width: 15vw;
    height: 28vw;
    left: 7.5vw;
  }
  .services .hexagon .right{
    border-left-width: 7.5vw;
    border-top-width: 14vw;
    border-bottom-width: 15vw;
  }
  .services .slick-prev{
    left: 20.5vw;
  }
  .services .slick-prev, .services .slick-next{
    top: 49%;
  }
  .services .slick-next{
    right: 20.5vw;
  }
}

@media only screen and (max-width: 479px) {
  
  .services .item{
    width: 60vw;
    height: 60vw;
  }
  .services .hexagon {
    width: 64vw;
    height: 58vw;
  }
  .services .hexagon .left{
    border-right-width: 16vw;
    border-top-width: 29vw;
    border-bottom-width: 29vw;
  }
  .services .hexagon .center {
    width: 32vw;
    height: 58vw;
    left: 16vw;
  }
 .services .item .content{
    margin-top: -15%
  }
  .services .hexagon .right {
    border-left-width: 16vw;
    border-top-width: 29vw;
    border-bottom-width: 29vw;
  }
  .services .item h1 {
    line-height: 14px !important;
  }
  .services .item p {
    font-size: 14px;
  }
  .services .slick-prev{
    left: 3.5vw;
  }
  .services .slick-next{
    right: 3.5vw;
  }
}

@media only screen and (max-width: 320px) {
}
@media only screen and (min-width: 768px) {
    .slick-slider .slick-list{
        padding-left: 0px !important;
    }
}

.u-mt{
    margin-top: 1em;
}
.panda_menu li a{
    text-transform: uppercase;
}

.services .slick-dots{
    bottom: -30px;
    left: 0;
    margin: 0;
    width: 100%;
}
.slick-dots li button:before{
    color: #fff;
}
.slick-dots li.slick-active button:before{
    color: #fff;
}

.services .slick-next{
    right: -4%;
}
.services .slick-prev {
    left: -4%;
}

.services .slick-carousel a{
    outline: none;
}