/*
Template Name: LEXIMA - Creative Personal OnePage HTML Template
Author: GuroThemes
Author URI: https://themeforest.net/user/gurothemes
Version: 1.0
*/
/*
TABLE OF CONTENTS:

1.WRAPPER
2.CONTACT INFORMATION

*/
/* --------------------------------
WRAPPER
-------------------------------- */
.about {
  height: 100vh;
  padding: 0 5% 0 5%;
}

.about:after {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  right: 0;
  content: "";
  position: absolute;
  z-index: -2;
}

/* --------------------------------
CONTACT INFORMATION
-------------------------------- */
.contact-inf {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 40px 0;
  opacity: 0;
}

.contact-inf li {
  margin: 10px 0;
  font: 14px "Open Sans", sans-serif;
  font-weight: 300;
  color: #FFFFFF;
}

.contact-inf li i {
  color: #FFFFFF;
  font-size: 16px;
  margin: 0 15px 0 0;
}
