/*
Template Name: TRIME. - Creative Comin Soon OnePage HTML Template
Author: GuroThemes
Author URI: https://themeforest.net/user/gurothemes
Version: 1.0
*/
/*
TABLE OF CONTENTS:

1.WRAPPER
2.CONTACT FORM

*/
/* --------------------------------
WRAPPER     
-------------------------------- */
.contacts {
    height: 100vh;
    padding: 0 10% 0 5%;
}

.contacts:after {
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    right: 0;
    content: "";
    position: absolute;
    z-index: -2;
}

.contacts .copyright .u-w-100{
    width: 100% !important;
}

.contacts .copyright.u-w-100{
    bottom: 10%;
    width: 90% !important;
    position: absolute;
}
/* --------------------------------
CONTACT FORM
-------------------------------- */
.contact-form {
    opacity: 0;
    padding: 0;
    margin: 40px 0 0 0;
    text-align: left;
}

.contact-form .field {
    margin: 30px 0;
}

.contact-form .field label {
    display: block;
    font: 14px "Open Sans", sans-serif;
    line-height: 13px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.contact-form .field input, .contact-form .field textarea {
    font: 14px "Open Sans", sans-serif;
    line-height: 15px;
    padding: 10px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #FFFFFF;
    background: none;
    width: 100%;
    color: #FFFFFF;
    opacity: 0.4;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}

.contact-form .field input:focus, .contact-form .field textarea:focus {
    opacity: 1;
    outline: none;
}

.contact-form .help-block {
    display: block;
    margin-top: 1px;
    margin-bottom: 10px;
    color: #a94442;
}

.contact-form .help-block ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact-form #msgSubmit,
  .contact-form .help-block {
    position: absolute;
    font: 10px "Open Sans", sans-serif;
    text-transform: uppercase;
    opacity: .8;
}

.contact-form .text-danger {
    color: #a94442;
}

.copyright{
    display: table;
}

.copyright p{
    display: table-row;
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*align-items:center;*/
}

.copyright span{
    text-align: center;
    display: table-cell;
}
.copyright .part-dot:before {
    /* display: inline-block; */
    width: 3px;
    content: "";
    position: absolute;
    height: 3px;
    top: calc(50% - -2px);
    background: #fff;
}
.copyright .part-dot{
    width: 3px;
    position: relative;
}

@media only screen and (max-width: 766px){
    .contacts .copyright.u-w-100{
        bottom: 2vh;
        margin-bottom: 0;
    }
    .contacts .copyright .u-w-100{
        display: flex;
        flex-direction: column;
    }
    .copyright span{
        display: table-row;
        text-align: right;
        padding-right: 5vw;
    }
    .text-section p.descrip{
        margin: 0;
    }
    .copyright .part-dot{
        display: none;
    }
}