/*
Template Name: TRIME. - Creative Comin Soon OnePage HTML Template
Author: GuroThemes
Author URI: https://themeforest.net/user/gurothemes
Version: 1.0
*/
/*
TABLE OF CONTENTS:

1.PRELOADER
2.WRAPPERS
3.NAVIGATION
4.TEXT SECTION (TITLE, DESRIPTION FOR SECTION)
5.SOCIAL SECTION
6.BUTTONS

*/
/* --------------------------------
PRELOADER
-------------------------------- */
.preloader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  background: #000000;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}

.is-load {
  width: 0px;
}

.loader {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 9999;
  top: 50%;
  left: 50%;
  opacity: .2;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
  -moz-transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
  transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
  -webkit-animation: loader 1.2s infinite ease-in-out;
  -moz-animation: loader 1.2s infinite ease-in-out;
  -ms-animation: loader 1.2s infinite ease-in-out;
  animation: loader 1.2s infinite ease-in-out;
}

.loader span {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background: #B9B9B9;
  -webkit-animation: bounceIn 1.2s infinite ease-in-out both;
  -moz-animation: bounceIn 1.2s infinite ease-in-out both;
  -ms-animation: bounceIn 1.2s infinite ease-in-out both;
  animation: bounceIn 1.2s infinite ease-in-out both;
}

.loader span:nth-child(1) {
  top: 0;
  left: 0;
}

.loader span:nth-child(2) {
  top: 0;
  right: 0;
  -webkit-animation: loadInverse 1.2s infinite ease-in-out both;
  -moz-animation: loadInverse 1.2s infinite ease-in-out both;
  -ms-animation: loadInverse 1.2s infinite ease-in-out both;
  animation: loadInverse 1.2s infinite ease-in-out both;
}

.loader span:nth-child(3) {
  bottom: 0;
  left: 0;
  -webkit-animation: loadInverse 1.2s infinite ease-in-out both;
  -moz-animation: loadInverse 1.2s infinite ease-in-out both;
  -ms-animation: loadInverse 1.2s infinite ease-in-out both;
  animation: loadInverse 1.2s infinite ease-in-out both;
}

.loader span:nth-child(4) {
  bottom: 0;
  right: 0;
}

@keyframes loader {
  0%,
  10%,
  100% {
    width: 10px;
    height: 10px;
  }
  65% {
    width: 30px;
    height: 30px;
  }
}

@keyframes loadInverse {
  0%,
  20% {
    transform: rotate(0);
  }
  55% {
    background-color: #FFFFFF;
  }
  100% {
    transform: rotate(-90deg);
  }
}

/* --------------------------------
WRAPPERS
-------------------------------- */
body {
  perspective: 1000px;
}

.wrapper {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.9)), url(../../../img/background/bg2.jpg);
  /*background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.9)), #000;*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.left-side {
  position: relative;
  width: 50%;
  height: 100vh;
  float: left;
}

.right-side {
  position: relative;
  width: 50%;
  float: right;
  text-align: left;
}

.is-scroll {
  -webkit-transform: translateZ(-10px);
  -moz-transform: translateZ(-10px);
  -ms-transform: translateZ(-10px);
  transform: translateZ(-10px);
}

.iScrollVerticalScrollbar, .iScrollLoneScrollbar {
  display: none !important;
}

#particles-js {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

/* --------------------------------
NAVIGATION
-------------------------------- */
.menu-btn {
  position: relative;
  line-height: 40px;
  background: none;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  opacity: 0.8;
  z-index: 9;
  float: left;
  display: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}

.menu-btn svg {
  width: 25px;
}

.menu-btn svg rect {
  fill: #FFFFFF;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}

.menu-btn svg rect.first {
  transform-origin: bottom right;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.menu-btn svg rect.inbetween {
  opacity: 1;
}

.menu-btn svg rect.last {
  transform-origin: top right;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.menu-btn:focus {
  outline: 0;
}

.menu-btn:hover {
  opacity: 1;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}

.menu-btn-open {
  opacity: 1;
}

.menu-btn-open svg rect.first {
  width: 45px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-btn-open svg rect.last {
  width: 45px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu-btn-open svg rect.inbetween {
  opacity: 0;
}

.toggle-wrapp {
  overflow: visible;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateX(45vw);
  -moz-transform: translateX(45vw);
  -ms-transform: translateX(45vw);
  transform: translateX(45vw);
}

.toggle-nav {
  opacity: 1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateX(-45vw);
  -moz-transform: translateX(-45vw);
  -ms-transform: translateX(-45vw);
  transform: translateX(-45vw);
}

nav {
  margin: 20px 0 0 0;
  opacity: 0;
  z-index: 1;
  position: fixed;
  transition-property: opacity;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

nav ul li {
  display: inline-block;
}

nav ul li.active a {
  opacity: 1;
}

nav ul li.active a:after {
  background: #FFFFFF;
  height: 1px;
  width: 100%;
  left: 0;
  top: 45%;
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: 0.3s ease 0s;
  -moz-transition: 0.3s ease 0s;
  -ms-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

nav ul li.active a:focus {
  opacity: 1;
  color: #FFFFFF;
}

nav ul li a, nav ul li a:hover {
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 10px 5px;
  padding: 5px;
  font: 13px "Open Sans", sans-serif;
  line-height: 14px;
  font-weight: 400;
  opacity: .4;
  position: relative;
  display: inline-block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

nav ul li a:after, nav ul li a:hover:after {
  background: #FFFFFF;
  height: 1px;
  width: 0;
  left: 0;
  top: 45%;
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: 0.3s ease 0s;
  -moz-transition: 0.3s ease 0s;
  -ms-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  opacity: 0;
}

nav ul li a:focus {
  text-decoration: none;
  outline-offset: 0;
  outline: none;
}

nav ul li a:hover {
  opacity: 1;
  color: #FFFFFF;
  background-color: transparent;
}

nav ul li a:hover:after {
  width: 100%;
}

/* --------------------------------
TEXT SECTION (TITLE, DESRIPTION FOR SECTION)
-------------------------------- */
.text-section {
  position: relative;
  width: 60%;
}

.text-section .bg-title {
  font: 150px "Oswald", sans-serif;
  line-height: 150px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
  z-index: -1;
  left: -10px;
  top: -50px;
  opacity: 0;
}

.text-section .title, .text-section .pre-title, .text-section .name-title {
  font: 60px "Oswald", sans-serif;
  line-height: 55px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.text-section .pre-title {
  font: 20px "Oswald", sans-serif;
  line-height: 25px;
  color: #B9B9B9;
}

.text-section p.descrip {
  margin: 20px 0;
  font: 15px "Open Sans", sans-serif;
  font-weight: 300;
  color: #B9B9B9;
  opacity: 0;
}

/* --------------------------------
SOCIAL SECTION
-------------------------------- */
ul.social-section {
  width: 70%;
  padding: 0;
  list-style-type: none;
  opacity: 0;
}

ul.social-section li {
  opacity: .9;
  display: inline-block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

ul.social-section li a, nav ul.social-section li a:hover {
  color: #FFFFFF;
  text-decoration: none;
  margin: 10px;
  font-size: 20px;
}

ul.social-section li:hover {
  opacity: 1;
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}

/* --------------------------------
BUTTONS
-------------------------------- */
.btn, .btn:focus, .btn:active {
  padding: 11px 20px 11px 0;
  background: transparent;
  border: none;
  outline: none;
  color: #FFFFFF;
  font: 15px "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  opacity: .6;
  position: relative;
  display: inline-block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.btn:after, .btn:focus:after, .btn:active:after {
  background: #FFFFFF;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: 0.3s ease 0s;
  -moz-transition: 0.3s ease 0s;
  -ms-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.btn:active {
  outline: none !important;
}

.btn:hover {
  color: #000000;
  background-color: transparent;
  opacity: 1;
  padding-left: 10px;
}

.btn:hover:after {
  height: 100%;
}

.left-sidebar{
  position: relative;
  width: 50%;
  float: left;
  height: 100vh;
}

.u-ff\@jso {
  font-family: 'Julius Sans One', sans-serif;
}

.logo {
  position: absolute;
  left: 22vw;
  bottom: 11vh;
}

.logo h1 {
  color: #FFF;
  text-align: center;
}

.logo h1 span {
  font-size: 1em;
  display: block;
}

.logo h1 span.panda {
  font-size: 2em;
}

.owl-carousel .owl-item.active.center{
  cursor: pointer;
  z-index: 2;
}
.owl-carousel .owl-item.active.center .item{
  overflow: initial;
}
.owl-carousel .owl-item.active.center .item img,
.owl-carousel .owl-item.active.center .item .ovrlyT,
.owl-carousel .owl-item.active.center .item .ovrlyB
{
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}
.owl-carousel .owl-item.active.center .item .ovrlyT{
  top: -130%;
}
.owl-carousel .owl-item.active.center .item .ovrlyB{
  top: 130%;
}
.owl-carousel .owl-item.active.center .item:hover .ovrlyT,
.owl-carousel .owl-item.active.center .item:hover .ovrlyB{
  top: 0;
}
.owl-carousel .owl-item.active.center .item .proj-btn{
  top: -5%;
  right: -5%;
}
.owl-carousel .owl-item.active.center .item .proj-name{
  font-size: 18px;
      width: 100%;
    left: 0;
    right: 0;
    text-align: center;
}

nav .sub-nav{
  visibility: hidden;
  display: none;
  position: fixed;
  left: 50%;
  top: 50px;
}

nav .sub-nav li a{
  text-transform: capitalize;
  opacity: .4 !important;
}
nav .sub-nav li a:hover,
nav .sub-nav li.active a{
  text-transform: capitalize;
  opacity: 1 !important;
}

nav .sub-nav li a:after{
  content: none !important;
}

nav ul li[data-menuanchor="services"]:hover .sub-nav{
  display: block !important;
  visibility: visible !important;
}

@media (max-width:1024px){
  nav .sub-nav{
    display: none !important;
    visibility: hidden !important;
    opacity: 0;
  }
}

.owl-carousel .owl-dots{
  display: flex;
  justify-content: center;  
}

.owl-carousel .owl-dot{
  width: 10px;
  height: 10px;
  margin: 0.3em .3em;
  background: transparent;
  opacity: 1 !important;
  border-radius: 50%;
}

.owl-carousel .owl-dot:hover span,
.owl-carousel .owl-dot.active span{
  opacity: .75;
}

.owl-carousel .owl-dot span{
    margin: 0 auto;
    display: block;
    width: 6px;
    height: 6px;
    background: #fff;
    opacity: .25;
    border-radius: 50%;
}
.slick-dots li.slick-active button:before,
.slick-dots li button:before{
  color: #FFF;
}
/*-------------------------
  u:emmet
-------------------------*/

.u\:tdn{text-decoration: none;}

.u-posa-lh-b0{
  left: calc(29vw - 8.6px);
  bottom: 5vh;
  position: fixed;
  z-index: 1111111;
}

/*@media only screen and (max-height: 680px) {.u-posa-lh-b0{bottom: 8vh}} */
@media only screen and (max-height: 646px) {.u-posa-lh-b0{bottom: 4vh}} 
@media only screen and (max-height: 620px) {.u-posa-lh-b0{bottom: 1vh}} 
@media only screen and (max-height: 600px) {.u-posa-lh-b0{bottom: 2vh}} 
@media only screen and (max-height: 530px) {.u-posa-lh-b0{bottom: 0vh}} 

@media only screen and (max-width: 1200px) {.u-posa-lh-b0{left: calc(26vw - 8.6px)}} 
@media only screen and (max-width: 1000px) {
  .u-posa-lh-b0{left: inherit; bottom: inherit; top: 25px; right: 5vw}
  .u-posa-lh-b0 i{font-size: 26px!important}
}

/*-------------------------
  heading
-------------------------*/
h3{
  font: 14px "Oswald", sans-serif;
  line-height: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
}
