/*
/*
TABLE OF CONTENTS:

1.WRAPPER
2.FEATURES POSTS

*/
/* --------------------------------
WRAPPER
-------------------------------- */
.news {
  height: 100vh;
  padding: 0 5% 0 5%;
}

.news:after {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  right: 0;
  content: "";
  position: absolute;
  z-index: -2;
}

.section.news .text-section{
  padding-bottom: 5px;
}

/*-------------------------
  features posts
-------------------------*/ 
.features-posts{
      width: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.features-posts .item{
  height: 100px;
  width: auto;
  margin-top: 10px;
  float: left;
  margin-left: 0;
  display: inline-block !important;
  text-align: left;
  margin-right: 0;
}

.features-posts .item p{
  margin-top: 0;
}
.features-posts .item .title{
  padding: 5px 0 0px 0;
  line-height: 22px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #d5d5d5;
  overflow: visible;
  text-shadow: none;
  line-height: 1.5em;
  height: 3em;       /* height is 2x line-height, so two lines will display */
  overflow: hidden; 
}

.features-posts .item .date{
  margin: 10px 0 0 0;
  font: 14px "Open Sans", sans-serif;
  font-weight: 300;
  color: #B9B9B9;
}

.features-posts .item img{
  width: 105px;
  float: left;
  margin: 0 20px 0 0;
}