/*
Template Name: TRIME. - Creative Comin Soon OnePage HTML Template
Author: GuroThemes
Author URI: https://themeforest.net/user/gurothemes
Version: 1.0
*/
/*
TABLE OF CONTENTS:

1.WRAPPER
    1)PORTFOLIO CAROUSEL ITEMS

*/
/* --------------------------------
    WRAPPER
-------------------------------- */
.portfolio {
    height: 100vh;
    padding: 0 5% 0 5%;
  /* --------------------------------
        PORTFOLIO CAROUSEL ITEMS
    -------------------------------- */
}

.portfolio:after {
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    right: 0;
    content: "";
    position: absolute;
    z-index: -2;
}

.portfolio .item {
    margin: 50px 0 40px 0;
    padding: 0px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.portfolio .item .ovrlyT {
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    position: absolute;
    top: -100%;
    width: 100%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}

.portfolio .item .ovrlyB {
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}

.portfolio .item .proj-name {
    opacity: 0;
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    font: 14px "Oswald", sans-serif;
    text-transform: uppercase;
    top: 5%;
    left: 25%;
    right: 25%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}

.portfolio .item .proj-btn {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 5%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}

.portfolio .item .proj-btn i {
    font-size: 30px;
}

.portfolio .item:hover .proj-name {
    opacity: 1;
    top: 45%;
}

.portfolio .item:hover .proj-btn {
    opacity: 1;
    top: 5%;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.portfolio .item:hover .ovrlyT,
    .portfolio .item:hover .ovrlyB {
    top: 0;
}

