/*
Template Name: TRIME. - Creative Comin Soon OnePage HTML Template
Author: GuroThemes
Author URI: https://themeforest.net/user/gurothemes
Version: 1.0
*/
/* --------------------------------
RESPONSIVE
-------------------------------- */
@media only screen and (max-width: 1466px) {
	.counters-block .counter-item {
		width: 47.61905%;
	}
	.text-section {
		width: 90%;
	}
	.text-section .descrip {
		width: 90%;
	}
}

@media only screen and (max-width: 1024px) {
	nav {
		margin: 20px 9%;
	}
	nav ul {
		opacity: 1;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-ms-transition: 0.5s;
		transition: 0.5s;
		transform: translateX(-100vw);
	}
	nav ul li {
		display: list-item;
	}
	nav ul li.active a {
		opacity: 1;
	}
	nav ul li.active a:after {
		background: #000000;
	}
	nav ul li.active a:focus {
		opacity: 1;
		color: #000000;
	}
	nav ul li a {
		color: #000000;
	}
	nav ul li a:after {
		background: #000000;
	}
	nav ul li a:hover {
		opacity: 1;
		color: #000000;
	}
	nav ul li a:hover:after {
		background: #000000;
	}
	.menu-btn {
		display: block;
	}
	.left-side {
		display: none;
	}
	.text-section .descrip {
		width: 80%;
	}
	ul.social-section {
		width: 100%;
	}
	.right-side {
		width: 100%;
	}
	.home {
		padding: 0 10%;
	}
	.about {
		padding: 0 10%;
	}
	.skills {
		padding: 0 10%;
	}
	.services {
		padding: 0 10%;
	}
	.portfolio {
		padding: 0 10%;
	}
	.news {
		padding: 0 10%;
	}
	.contacts {
		padding: 0 15% 0 10%;
	}
	.services .slick-prev{
			left: 25.5vw;
	}
	.services .slick-next{
			right: 25.5vw;
	}
	.services .item p {
		font-size: 10px;
	}
}

@media only screen and (max-width: 767px) {
	nav {
		margin: 20px 8%;
	}
	.text-section {
		width: 100%;
	}
	.contacts {
		padding: 0 10%;
	}
	.wrapper {
		background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.9)), url(../../../img/background/bg.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		/*background-image: url(../../../img/background/bg.jpg);*/
	}
	.u\:dn\@sm-d{display: none !important;}
	.features-posts{
		grid-template-columns: 100%;
	}
	.features-posts .item{
		width: 100%;
		margin-bottom: 10px;
	}
	.features-posts .item .title{
		height: auto;
	}
	.features-posts .item{
		margin-bottom: 0;
	}
	.features-posts .item:not(:first-child){
		display: none  !important;
	}
	.features-posts-btn{
		margin-top: -20px;
	}
	.services .item{
		width: 30vw;
		height: 30vw;
	}
	.services .hexagon{
		width: 30vw;
		height: 28vw;
	}
	.services .hexagon .left{
		border-right-width: 7.5vw;
		border-top-width: 14vw;
		border-bottom-width: 14vw;
	}
	.services .hexagon .center{
		width: 15vw;
		height: 28vw;
		left: 7.5vw;
	}
	.services .hexagon .right{
		border-left-width: 7.5vw;
		border-top-width: 14vw;
		border-bottom-width: 15vw;
	}
	.services .slick-prev{
		left: 20.5vw;
	}
	.services .slick-prev, .services .slick-next{
		top: 49%;
	}
	.services .slick-next{
		right: 20.5vw;
	}
	
	.portfolio  .u-pswp-elements {
		margin-top: 20px;
	}
	.portfolio .item {
		margin-top: -10px;
		width: 50vw;
		height: 50vw;
	}
}

@media only screen and (max-width: 479px) {
	.text-section {
		margin: 100px 0 0 0;
	}
	.text-section .title {
		font-size: 50px;
		line-height: 48px;
	}
	.text-section .descrip {
		width: 100%;
	}
	.contact-form {
		margin: 0;
	}
	.contact-form .field {
		margin: 20px 0;
	}
	.contact-form .field input {
		padding: 5px;
	}
	.contacts {
		padding: 0 15% 0 10%;
	}
	.contacts .text-section {
		margin: 50px 0;
	}
	.services .item{
		width: 60vw;
		height: 60vw;
	}
	.services .hexagon {
		width: 64vw;
		height: 58vw;
	}
	.services .hexagon .left{
		border-right-width: 16vw;
		border-top-width: 29vw;
		border-bottom-width: 29vw;
	}
	.slick-carousel{
		margin-top: 5em;
	}
	.services .hexagon .center {
		width: 32.5vw;
		height: 58vw;
		left: 15.75vw;
		border-radius: 4px;
	}
 .services .item .content{
		margin-top: -15%
	}
	.services .hexagon .right {
		border-left-width: 16vw;
		border-top-width: 29vw;
		border-bottom-width: 29vw;
	}
	.services .item h1 {
		line-height: 14px !important;
	}
	.services .item p {
		font-size: 14px;
	}
	.services .slick-prev{
		left: 3.5vw;
	}
	.services .slick-next{
		right: 3.5vw;
	}
	.contacts .copyright.u-w-100{
		bottom: 7vh;
	}
	.contacts .copyright .u-w-100{
		font-size: 12px;
	}
}

@media only screen and (max-width: 320px) {
	.text-section .title {
		font-size: 40px;
		line-height: 48px;
	}
	.text-section p.descrip {
		font-size: 13px;
	}
	.counters-block {
		margin: -20px 0 0 0;
	}
	.counters-block .counter-item span {
		font-size: 25px;
		font-weight: 400;
	}
	.counters-block .counter-item i {
		font-size: 25px;
		margin: 0 10px 0 0;
	}
	.counters-block .counter-item h2 {
		font-size: 12px;
		margin: 5px 0;
	}
}
