/*
Template Name: TRIME. - Creative Comin Soon OnePage HTML Template
Author: GuroThemes
Author URI: https://themeforest.net/user/gurothemes
Version: 1.0
*/
/*
TABLE OF CONTENTS:

1.WRAPPER
2.SERVICES CAROUSEL
3.SERVICES CAROUSEL ITEMS

*/
/* --------------------------------
WRAPPER
-------------------------------- */
.services {
    height: 100vh;
    padding: 0 5% 0 5%;
}

.services:after {
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    right: 0;
    content: "";
    position: absolute;
    z-index: -2;
}

/* --------------------------------
SERVICES CAROUSEL
-------------------------------- */
.owl-carousel,
.owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot,
.owl-carousel-cont .owl-nav .owl-prev,
.owl-carousel-cont .owl-nav .owl-next,
.owl-carousel-cont {
    display: inline-block;
    opacity: 0;
}

.owl-nav {
    width: 40px;
    float: left;
    color: #FFFFFF;
}

.owl-nav .owl-next {
    float: right;
    font-size: 24px;
    line-height: 22px;
    position: relative;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
}

.slick-next:after, .owl-nav .owl-next:hover {
    margin-right: -4px;
    color: #FFFFFF;
    background-color: transparent;
}

.slick-next:hover:after, .owl-nav .owl-next:hover:after {
    width: 15px;
    right: 1px;
}

.slick-next:after, .owl-nav .owl-next:after {
    background: #FFFFFF;
    height: 1px;
    width: 0;
    right: 0;
    top: 50%;
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-transition: 0.3s ease 0s;
    -moz-transition: 0.3s ease 0s;
    -ms-transition: 0.3s ease 0s;
    transition: 0.3s ease 0s;
}

.owl-nav .owl-prev {
    float: left;
    font-size: 24px;
    line-height: 22px;
    position: relative;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
}

.slick-prev:after, .owl-nav .owl-prev:hover {
    margin-left: -4px;
    color: #FFFFFF;
    background-color: transparent;
}

.slick-prev:hover:after, .owl-nav .owl-prev:hover:after {
    width: 15px;
    left: 1px;
}

.slick-prev:after, .owl-nav .owl-prev:after {
    background: #FFFFFF;
    height: 1px;
    width: 0;
    left: 0;
    top: 50%;
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-transition: 0.3s ease 0s;
    -moz-transition: 0.3s ease 0s;
    -ms-transition: 0.3s ease 0s;
    transition: 0.3s ease 0s;
}

/* --------------------------------
SERVICES CAROUSEL ITEMS
-------------------------------- */
.slick-carousel{
    margin-top: 7em;
}

.item {
    position: relative;
    margin: 0 2vw;
    width: 20vw;
    height: 20vw;
    text-align: center;
    vertical-align: middle;
    display: flex !important;
    align-items: center;
}

.item .content{
    margin-top: -25%;
    width: 84%;
    margin-left: 8%;
}

.services .hexagon{
    position: absolute;
    width: 20vw;
    height: 20vw;
    z-index: -1;
    outline: 0;
}

.services .hexagon .center{
    float: left;
    width: 11vw;
    height: 18vw;
    background-color: #191919;
    position: absolute;
    left: 4.5vw;

}

.services .hexagon .left {
    position: absolute;
    left: 0;
    float: left;
    border-right: 4.5vw solid #191919;
    border-top: 9vw solid transparent;
    border-bottom: 9vw solid transparent;
}

.services .hexagon .right {
    float: left;
    border-left: 4.5vw solid #191919;
    border-top: 9vw solid transparent;
    border-bottom: 9vw solid transparent;
    position: absolute;
    right: 0;
}

.services .slick-current .hexagon .center{
    background-color: #131624;
}
.services .slick-current .hexagon .left{
    border-right-color: #131624;
}
.services .slick-current .hexagon .right{
    border-left-color: #131624;
}

.services .slick-prev ,
.services .slick-next{
    text-align: center;
}
.services .slick-next:hover:after{
    right: 50%;
}
.services .slick-prev:hover:after{
    left: 50%;
}

.services .ion-ios-arrow-left:before ,
.services .ion-ios-arrow-right:before{
    color: #FFF;
    font-size: 25px;
    line-height: 1.7;
}
.services a.slick-slide{
    color: #B9B9B9;
    text-decoration: none;
}
.services a.slick-slide:active{
    text-decoration: underline;
}
.services .slick-prev,
.services .slick-next{
    position: absolute;
    top: 44%;
    z-index: 10;
}
.services .slick-prev{
    left: 9vw;
}
.services .slick-next{
    right: 9vw;
}

.item i {
    font-size: 35px;
    color: #FFFFFF;
}

.item h1 {
    font: 14px "Oswald", sans-serif;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 15px 0 0 0;
    padding: 0;
    text-decoration: underline;
}

.item p {
    margin: 10px 0 0 0;
    font: 14px "Open Sans", sans-serif;
    font-weight: 300;
    color: #B9B9B9;
}
