/*
Template Name: TRIME. - Creative Comin Soon OnePage HTML Template
Author: GuroThemes
Author URI: https://themeforest.net/user/gurothemes
Version: 1.0
*/
/*
TABLE OF CONTENTS:

1.WRAPPER
2.SKILL BLOCK
3.COUNTERS BLOCK

*/
/* --------------------------------
    WRAPPER
-------------------------------- */
.skills {
    height: 100vh;
    padding: 0 5% 0 5%;
}

.skills:after {
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    right: 0;
    content: "";
    position: absolute;
    z-index: -2;
}

/* --------------------------------
    SKILL BLOCK
-------------------------------- */
.skill-block {
    opacity: 0;
}

.skill-block .skill-item {
    position: relative;
    display: block;
    margin: 40px 0;
    width: 90%;
    background: #F9F9F9;
    height: 6px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    transition: 0.4s linear;
}

.skill-block .skill-item h1 {
    display: block;
    position: absolute;
    top: -30px;
    left: 0;
    font: 12px "Open Sans", sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-transform: uppercase;
}

.skill-block .skill-item .skill-bar {
    height: 6px;
    width: 0;
    background: #B9B9B9;
}

.skill-block .skill-item .skill-percent {
    position: absolute;
    right: 0;
    top: -30px;
    font: 11px "Open Sans", sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    line-height: 35px;
}

/* --------------------------------
    COUNTERS BLOCK
-------------------------------- */
.counters-block {
    width: 100%;
    opacity: 0;
}

.counters-block .counter-item {
    text-align: left;
    display: inline-block;
    width: 24.39024%;
}

.counters-block .counter-item span {
    font: 28px "Oswald", sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.counters-block .counter-item i {
    font-size: 30px;
    padding: 0;
    color: #B9B9B9;
    margin: 0 10px 0 0;
}

.counters-block .counter-item h2 {
    font: 13px "Open Sans", sans-serif;
    color: #B9B9B9;
    text-transform: uppercase;
    margin: 10px 0;
}
