@font-face {
	font-family: 'icomoon';
	src:url('../fonts/picons/picons.eot?m2jf58');
	src:url('../fonts/picons/picons.eot?') format('embedded-opentype'),
		url('../fonts/picons/picons.woff?m2jf58') format('woff'),
		url('../fonts/picons/picons.ttf?m2jf58') format('truetype'),
		url('../fonts/picons/picons.svg?m2jf58') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="picons-icon-"], [class*=" picons-icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.picons-icon-thin-500_drawing_pen_pencil_ruler:before {
	content: "\e600";
}
.picons-icon-thin-496_eye_dropper_color_picker:before {
	content: "\e604";
}
.picons-icon-thin-495_paint_brush_tool_color:before {
	content: "\e605";
}
.picons-icon-thin-491_vector_drawing_pdf_illustrator_resizable:before {
	content: "\e609";
}
.picons-icon-thin-487_relay_holiday_tourist_beach_sea_sunbathing:before {
	content: "\e60d";
}
.picons-icon-thin-486_arrow_shooting_target_bullseye_archery:before {
	content: "\e60e";
}
.picons-icon-thin-464_bright_bulb_idea_lamp_light:before {
	content: "\e624";
}
.picons-icon-thin-356_analytics_bar_chart_diagram_presentation:before {
	content: "\e690";
}
.picons-icon-thin-313_iphone_mobile_chat_message_sms:before {
	content: "\e6bb";
}
.picons-icon-thin-311_ipad_tablet_touch_screen:before {
	content: "\e6bd";
}
.picons-icon-thin-308_plant_nature_leaf_flower:before {
	content: "\e6c0";
}
.picons-icon-thin-287_laboratory_lab_experiment_research:before {
	content: "\e6d5";
}
.picons-icon-thin-273_rocket_space:before {
	content: "\e6e3";
}
.picons-icon-thin-215_support_help_rescue:before {
	content: "\e71d";
}
.picons-icon-thin-175_computer_desktop_screen_settings_preferences:before {
	content: "\e745";
}
.picons-icon-thin-129_world_globe_internation_region_language_earth:before {
	content: "\e773";
}
.picons-icon-thin-125_location_map_navigate:before {
	content: "\e777";
}
.picons-icon-thin-089_file_document_writing_script:before {
	content: "\e79b";
}
.picons-icon-thin-014_plane_paper_send:before {
	content: "\e7e6";
}
.picons-icon-thin-003_write_pencil_new_edit:before {
	content: "\e7f1";
}